# Content Based Filtering

## Outline
1. [Packages](#intro)<br>
2. [Dataset](#dataset)<br>
3. [Preparing the data](#prep)<br>

## 1 - Packages
### Libraries and Modules
- **NumPy (np):** NumPy is a widely-used library in Python for numerical and mathematical operations. It provides support for working with arrays and matrices, making it essential for scientific and data analysis tasks.
- **NumPy Masked Array (ma):** NumPy's Masked Array module is used for handling arrays with missing or masked data. It allows you to work with data that may contain invalid or missing values without raising errors.
- **genfromtxt:** This is a function provided by NumPy for reading data from text files and creating NumPy arrays from the data. It's particularly useful for loading data from CSV files and other text-based formats.
- **collections.defaultdict:** The defaultdict class from the collections module is a specialized dictionary-like data structure that provides default values for missing keys. It's useful for various data manipulation tasks, such as counting occurrences.
- **Pandas (pd):** Pandas is a powerful library for data manipulation and analysis. It offers data structures like DataFrames and Series, making it easier to work with structured data.
- **TensorFlow (tf):** TensorFlow is an open-source machine learning framework developed by Google. It's widely used for building and training deep learning models, including neural networks.
- **Keras:** Keras is a high-level neural networks API that runs on top of TensorFlow (or other backend engines). It provides a user-friendly interface for building and training neural networks.
- **StandardScaler:** StandardScaler is a preprocessing technique provided by scikit-learn (sklearn) for standardizing features in your data. It removes the mean and scales features to have unit variance.
- **MinMaxScaler:** MinMaxScaler, also from scikit-learn, is used to scale features to a specified range, commonly [0, 1]. It's helpful when you want to normalize your data to a specific interval.
- **train_test_split:** This function, available in scikit-learn, is used to split your dataset into separate training and testing sets. It's a crucial step in machine learning for evaluating model performance.
- **tabulate:** Tabulate is a Python library for neatly formatting and pretty-printing tabular data. It helps make data presentation more readable and user-friendly.
- **pd.set_option("display.precision", 1):** This line of code configures the Pandas library to display floating-point numbers with a precision of one decimal place by default. It affects how data is presented when you print or display Pandas DataFrames or Series.

#### Terminal Instructions:
1. go to jupyter notebook directory 
2. run 'pip install --upgrade numpy scipy' 
3. Restart Kernel if needed.

For Linux:
1. sudo pacman -S python-<import-name> // for every single import

In [1]:
import datetime
import numpy as np
import numpy.ma as ma
from numpy import genfromtxt
from collections import defaultdict
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, QuantileTransformer, RobustScaler, PowerTransformer, Normalizer, Binarizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, precision_score, recall_score, f1_score
import tabulate
pd.set_option("display.precision", 1)

from IPython.display import display
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

%run preprocessing_functions.ipynb

## 2 - Dataset
Data set used is from https://grouplens.org/datasets/movielens/latest/

#### ratings.csv
- n<sub>u</sub> = 610 users
- 100,000 individual user ratings
- ratings are out of 5

#### movies.csv
- n<sub>m</sub> = 9743 movies

Below, load the raw data sets:

In [2]:
# Load the CSV file into a DataFrame (replace 'your_file.csv' with the actual file path)
df_user = pd.read_csv('/Users/RuknuddinAsrari/Documents/github/541/COMP-541-Data_mining_project/datasets/ml-latest-small/ratings.csv')
df_movie = pd.read_csv('/Users/RuknuddinAsrari/Documents/github/541/COMP-541-Data_mining_project/datasets/ml-latest-small/movies.csv')
df_links = pd.read_csv('/Users/RuknuddinAsrari/Documents/github/541/COMP-541-Data_mining_project/datasets/ml-latest-small/links.csv')
df_tags = pd.read_csv('/Users/RuknuddinAsrari/Documents/github/541/COMP-541-Data_mining_project/datasets/ml-latest-small/tags.csv')


# For linux only:
# df_user = pd.read_csv(r'./datasets/ml-latest-small/ratings.csv')
# df_movie = pd.read_csv(r'./datasets/ml-latest-small/movies.csv')
# df_links = pd.read_csv(r'./datasets/ml-latest-small/links.csv')
# df_tags = pd.read_csv(r'./datasets/ml-latest-small/tags.csv')

### Display Dataset

#### description of the df_user dataset:

- **userId:** This column represents the unique identifier for each user who has provided movie ratings. Users are numbered from 1 to 610, indicating there are 610 users in the dataset.
- **movieId:** This column represents the unique identifier for each movie that users have rated. The movieId values correspond to specific movies.
- **rating:** This column represents the rating given by a user to a particular movie. Ratings are typically on a scale, and in this dataset, ratings vary from 0.0 to 5.0. Higher values indicate a higher rating or preference for the movie.
- **timestamp:** This column represents the timestamp when the rating was recorded. It's a Unix timestamp, which is a numerical representation of a specific date and time.

The dataset contains a total of 5 rows at the beginning and 5 rows at the end as examples. Each row represents a single user's rating for a specific movie. For example, the first row indicates that User 1 gave a rating of 4.0 to the movie with movieId 1 (Toy Story(1995)), and the rating was recorded at the specified timestamp.

In [3]:
display(df_user)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

#### description of the df_movie dataset:

- **movieId:** This column represents the unique identifier for each movie in the dataset. The movieId values are used to uniquely identify each movie.
- **title:** This column contains the titles of the movies. Each row provides the title of a specific movie, along with the release year in parentheses. For example, "Toy Story (1995)" is the title of the first movie in the dataset, released in 1995.
- **genres:** This column contains information about the genres associated with each movie. Genres are typically separated by the "|" character, indicating that a movie can belong to multiple genres. For example, the first movie "Toy Story (1995)" is associated with the following genres: Adventure, Animation, Children, Comedy, and Fantasy.

The dataset contains multiple rows, each representing a different movie. In the example, there are 5 rows, each corresponding to a different movie title and associated genres.

In [4]:
display(df_movie)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

#### Description of the df_links dataset:
- **movieId:** This column represents a unique identifier for each movie in the dataset. The movieId values are used to uniquely identify each movie.
- **imdbId:** This column contains the IMDb (Internet Movie Database) identifier for each movie. IMDb is a popular online database of movies and television shows.
- **tmdbId:** This column contains the TMDb (The Movie Database) identifier for each movie. TMDb is another online database that provides information about movies, including cast, crew, and user ratings.

The dataset contains multiple rows, with each row corresponding to a different movie. For example, the first row indicates that movieId 1 corresponds to the IMDb ID 114709 and the TMDb ID 862.0.

In [5]:
display(df_links)

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

#### Description of the df_tags dataset:
- **userId:** This column represents the unique identifier for each user who has tagged movies. Users are numbered, and each userId corresponds to a specific user.
- **movieId:** This column represents the unique identifier for each movie that users have tagged. The movieId values correspond to specific movies.
- **tag:** This column contains descriptive tags or keywords associated with the movies. Users can assign tags to movies based on their content, themes, or other characteristics.
- **timestamp:** This column represents the timestamp when the tagging was recorded. It's a Unix timestamp, which is a numerical representation of a specific date and time.

The dataset contains multiple rows, with each row representing a user's tag for a specific movie. For example, the first row indicates that userId 2 tagged movieId 60756 with the tags "funny," "Highly quotable," and "will ferrell" at the specified timestamp.

In [6]:
display(df_tags)

timestamp_first_row = df_tags.loc[0, 'timestamp']
date_time = datetime.datetime.utcfromtimestamp(timestamp_first_row)
print(f'user2 tagged movie60756(Step Brothers) as "funny" at: {date_time}')

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

user2 tagged movie60756(Step Brothers) as "funny" at: 2015-10-24 19:29:54

## 3- Preprocessing The Data

### One-Hot Encode df_movies Dataset
**One-Hot Encoding** is a technique used in machine learning and data analysis to convert categorical data, such as genres in your movie dataset, into a binary matrix format. It's a way to represent categorical variables as binary vectors, where each category is represented by a binary value (0 or 1).

Here's a brief explanation and an example for the movie dataset:

The movie dataset, has a column called genres, which contains multiple movie genres separated by the "|" character. To apply one-hot encoding to this categorical data:

- Identify Unique Categories: First, you identify all unique genres present in the dataset. For example, unique genres include "Action," "Comedy," "Romance," and "Sci-Fi."
- Create Binary Columns: For each unique genre, you create a new binary column in the dataset. Each column represents one genre. If a movie belongs to a particular genre, the corresponding column gets a value of 1; otherwise, it gets a value of 0.
![df_movies_onehot](./images/movie_one_hot_encoding.jpg)

df_movie_encoded:

In [7]:
df_movie_copy = df_movie.copy()

df_movie_final, df_movie_encoded = onehot_encode_movies(df_movie_copy)

display(df_movie_encoded)
display(df_movie_final)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

,movieId,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,2017,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,2017,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,2017,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9740,193587,2018,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,1991,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

 ### Create the User Profile 
1. **Collect User Ratings:** You start by gathering the ratings provided by a user for various movies. Each rating reflects how much the user liked a specific movie.
2. **Encode Movie Genres:** You have a dataset that lists the genres associated with each movie with binary classification. For each movie the user has rated, you find the genres it belongs to and mark those genres as "rated" by the user. Next, for each movie the user has rated, the genres associated with that movie will be that rating. Do this for all movies the user has rated.
3. **Calculate Genre Ratings:** For each genre, you sum up the ratings given by the user to all the movies that belong to that genre. This gives you the total rating the user has given to all movies within each genre.
4. **Average Genre Ratings:** To create a more balanced view, you calculate the average rating for each genre by dividing the total genre rating by the number of movies the user has rated within that genre. This helps account for cases where the user may have rated more or fewer movies in certain genres.
5. **Non-Scaled User Profile:** The result of these calculations is a non-scaled user profile. It represents the average ratings the user has given to different movie genres based on their past ratings. This user profile helps identify the user's preferences and can be used for various purposes, such as recommending movies of similar genres that align with their tastes.

![df_user_profile](./images/aggregate_average_user_ratings.jpg)

Aggregate and Average to get the user profile (Takes a while):

In [8]:
df_user_copy = df_user.copy()

df_aggregate_rating, df_genre_rating_count, df_user_ratings_total, df_user_final = aggregate_average_user_ratings2(df_user, df_movie_final, df_movie_encoded)

display(df_user_ratings_total)
display(df_aggregate_rating)
display(df_genre_rating_count)
display(df_user_final)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

       rating
        count mean
userId
1         232  4.4
2          29  3.9
3          39  2.4
4         216  3.6
5          44  3.6
...       ...  ...
606      1115  3.7
607       187  3.8
608       831  3.1
609        37  3.3
610      1302  3.7

[610 rows x 2 columns]

        rating count  rating avg
userId
1                232         4.4
2                 29         3.9
3                 39         2.4
4                216         3.6
5                 44         3.6
...              ...         ...
606             1115         3.7
607              187         3.8
608              831         3.1
609               37         3.3
610             1302         3.7

[610 rows x 2 columns]

     userId  rating count  rating avg
0         1           232         4.4
1         2            29         3.9
2         3            39         2.4
3         4           216         3.6
4         5            44         3.6
..      ...           ...         ...
605     606          1115         3.7
606     607           187         3.8
607     608           831         3.1
608     609            37         3.3
609     610          1302         3.7

[610 rows x 3 columns]

        userId  rating count  rating avg
0            1         232.0         4.4
1            1         232.0         4.4
2            1         232.0         4.4
3            1         232.0         4.4
4            1         232.0         4.4
...        ...           ...         ...
100831     610        1302.0         3.7
100832     610        1302.0         3.7
100833     610        1302.0         3.7
100834     610        1302.0         3.7
100835     610        1302.0         3.7

[100836 rows x 3 columns]

,userId,rating count,rating avg,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,232.0,4.4,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1,232.0,4.4,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,1,232.0,4.4,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1,232.0,4.4,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1,232.0,4.4,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,1302.0,3.7,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
100832,610,1302.0,3.7,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
100833,610,1302.0,3.7,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
100834,610,1302.0,3.7,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
100835,610,1302.0,3.7,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

  0%|          | 0/100836 [00:00<?, ?it/s]

     userId  rating count  rating avg
0         1           232         4.4
1         2            29         3.9
2         3            39         2.4
3         4           216         3.6
4         5            44         3.6
..      ...           ...         ...
605     606          1115         3.7
606     607           187         3.8
607     608           831         3.1
608     609            37         3.3
609     610          1302         3.7

[610 rows x 3 columns]

,userId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.0,389.0,373.0,136.0,191.0,355.0,196.0,0.0,308.0,202.0,5.0,59.0,0.0,103.0,75.0,112.0,169.0,228.0,99.0,30.0
1,2.0,43.5,12.5,0.0,0.0,28.0,38.0,13.0,66.0,0.0,0.0,3.0,15.0,0.0,8.0,4.5,15.5,37.0,4.5,3.5
2,3.0,50.0,30.0,2.0,2.5,9.0,1.0,0.0,12.0,13.5,0.0,37.5,0.0,0.5,5.0,2.5,63.0,29.0,2.5,0.0
3,4.0,83.0,106.0,24.0,38.0,365.0,103.0,8.0,418.0,70.0,16.0,17.0,3.0,64.0,80.0,196.0,34.0,135.0,25.0,38.0
4,5.0,28.0,26.0,26.0,37.0,52.0,46.0,0.0,95.0,29.0,0.0,3.0,11.0,22.0,4.0,34.0,5.0,32.0,10.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606.0,480.0,515.0,156.0,169.0,1501.0,486.0,19.0,2644.0,349.0,30.5,174.0,49.0,164.0,345.0,1328.0,281.0,701.5,246.5,58.0
606,607.0,268.0,156.0,20.0,65.0,183.0,103.0,0.0,329.0,75.0,0.0,144.0,5.0,18.0,79.0,102.0,117.0,251.0,25.0,8.0
607,608.0,922.5,583.0,171.5,216.5,971.5,527.5,18.0,962.5,333.0,15.0,322.0,48.0,91.0,245.0,306.0,550.5,916.0,68.0,29.0
608,609.0,34.0,32.0,3.0,6.0,23.0,21.0,6.0,64.0,3.0,0.0,7.0,3.0,0.0,0.0,16.0,15.0,46.0,14.0,4.0
609,610.0,1861.5,989.5,257.5,204.5,1533.5,1037.5,21.0,1856.0,542.5,43.5,1062.5,297.5,55.0,452.0,444.0,918.5,1822.5,177.5,123.5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,90,84,28,41,82,45,0,68,46,1,17,0,22,18,26,40,55,22,7
1,11,3,0,0,7,9,3,16,0,0,1,4,0,2,1,4,10,1,1
2,14,11,4,5,9,2,0,15,4,0,8,0,1,1,5,15,7,5,0
3,25,29,6,10,103,26,2,120,19,4,4,1,16,23,58,12,37,7,10
4,9,7,5,8,14,12,0,25,6,0,1,3,5,1,11,2,9,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,151,146,41,48,420,133,5,698,96,8,52,16,44,91,355,79,199,65,17
606,72,44,5,18,54,27,0,82,20,0,35,1,5,17,29,36,61,6,2
607,277,180,54,87,354,146,6,280,110,4,97,12,33,69,106,167,259,19,11
608,11,9,0,1,6,6,2,19,0,0,2,1,0,0,5,5,14,4,1
609,517,266,65,55,410,273,5,479,150,10,303,82,14,120,119,251,510,47,33

,userId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.0,4.3,4.4,4.9,4.7,4.3,4.4,0.0,4.5,4.4,5.0,3.5,0.0,4.7,4.2,4.3,4.2,4.1,4.5,4.3
1,2.0,4.0,4.2,0.0,0.0,4.0,4.2,4.3,4.1,0.0,0.0,3.0,3.8,0.0,4.0,4.5,3.9,3.7,4.5,3.5
2,3.0,3.6,2.7,0.5,0.5,1.0,0.5,0.0,0.8,3.4,0.0,4.7,0.0,0.5,5.0,0.5,4.2,4.1,0.5,0.0
3,4.0,3.3,3.7,4.0,3.8,3.5,4.0,4.0,3.5,3.7,4.0,4.2,3.0,4.0,3.5,3.4,2.8,3.6,3.6,3.8
4,5.0,3.1,3.7,5.2,4.6,3.7,3.8,0.0,3.8,4.8,0.0,3.0,3.7,4.4,4.0,3.1,2.5,3.6,3.3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606.0,3.2,3.5,3.8,3.5,3.6,3.7,3.8,3.8,3.6,3.8,3.3,3.1,3.7,3.8,3.7,3.6,3.5,3.8,3.4
606,607.0,3.7,3.5,4.0,3.6,3.4,3.8,0.0,4.0,3.8,0.0,4.1,5.0,3.6,4.6,3.5,3.2,4.1,4.2,4.0
607,608.0,3.3,3.2,3.2,2.5,2.7,3.6,3.0,3.4,3.0,3.8,3.3,4.0,2.8,3.6,2.9,3.3,3.5,3.6,2.6
608,609.0,3.1,3.6,0.0,6.0,3.8,3.5,3.0,3.4,0.0,0.0,3.5,3.0,0.0,0.0,3.2,3.0,3.3,3.5,4.0
609,610.0,3.6,3.7,4.0,3.7,3.7,3.8,4.2,3.9,3.6,4.3,3.5,3.6,3.9,3.8,3.7,3.7,3.6,3.8,3.7

### Scaling User Profile 
![df_user_profile](./images/scaling_data.jpg)

In [9]:
# Busted in Normalization???????????????
# normalize with respect to rows????????

df_user_final_copy = df_user_final.copy()

columns_to_scale = df_user_final_copy.columns[1:] 
scalar = StandardScaler() # <-- better - MSE.RMSE are off by 1 & P/R/F1 - bad
#scalar = MinMaxScaler(feature_range=(0,5)) # <-- dogshit
#scalar = QuantileTransformer(output_distribution='normal') 
#scalar = QuantileTransformer(output_distribution='uniform')
#scalar = MaxAbsScaler()
#scalar = RobustScaler()
# scalar = PowerTransformer(method='box-cox')
# scalar = PowerTransformer(method='yeo-johnson')
# scalar = Normalizer()
# scalar = Binarizer(threshold=0.5)

# log_transformer = FunctionTransformer(np.log1p, validate=True)  # log1p is used to handle zero values

df_user_scaled = df_user_final_copy.copy() 
df_user_scaled[columns_to_scale] = scalar.fit_transform(df_user_final_copy[columns_to_scale])
# use with log_transformer
#df_user_scaled = log_transformer.fit_transform(df_user_final_copy[columns_to_scale])

pd.set_option('display.float_format', '{:.2f}'.format)
display(df_user_scaled)

,userId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.00,1.12,1.02,0.83,0.86,1.01,0.65,-0.73,1.29,0.65,1.80,0.31,-1.60,1.10,0.42,0.86,0.83,0.68,0.65,0.98
1,2.00,0.57,0.64,-1.86,-2.31,0.52,0.50,1.56,0.57,-2.97,-0.78,-0.02,0.51,-1.61,0.28,1.11,0.40,0.02,0.65,0.55
2,3.00,-0.02,-1.34,-1.58,-1.97,-4.02,-3.77,-0.73,-5.39,-0.19,-0.78,1.18,-1.60,-1.32,1.08,-4.18,0.80,0.68,-2.08,-1.38
3,4.00,-0.40,-0.07,0.35,0.27,-0.18,0.20,1.38,-0.58,0.07,1.28,0.87,0.09,0.70,-0.13,-0.37,-0.87,-0.05,0.02,0.71
4,5.00,-0.71,0.02,1.01,0.83,0.08,0.05,-0.73,-0.02,1.01,-0.78,-0.02,0.46,0.93,0.28,-0.75,-1.28,-0.19,-0.14,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606.00,-0.61,-0.24,0.24,0.08,-0.13,-0.15,1.28,-0.04,0.03,1.19,0.22,0.12,0.54,0.12,0.11,0.01,-0.23,0.17,0.50
606,607.00,0.21,-0.22,0.35,0.14,-0.41,0.03,-0.73,0.36,0.12,-0.78,0.77,1.21,0.47,0.80,-0.19,-0.36,0.63,0.43,0.82
607,608.00,-0.38,-0.64,-0.10,-0.62,-1.38,-0.20,0.85,-0.67,-0.48,1.15,0.20,0.65,-0.02,-0.08,-1.02,-0.31,-0.22,0.02,0.07
608,609.00,-0.74,-0.20,-1.86,1.77,0.26,-0.33,0.85,-0.79,-2.97,-0.78,0.33,0.09,-1.61,-2.91,-0.61,-0.67,-0.59,-0.03,0.82
609,610.00,0.03,0.02,0.33,0.22,0.12,0.02,1.49,0.12,0.01,1.46,0.34,0.44,0.66,0.10,0.09,0.14,-0.16,0.16,0.68

## 3- Model
### Recommendation Matrix

In [10]:
# Finding the recommendation
df_movie_matrix = df_movie_final.copy()
df_user_matrix = df_user_scaled.copy()
display(df_movie_matrix)
display(df_user_matrix)

# Extract the 'userId' and 'movieId' column
movie_ids = df_movie_matrix['movieId']
movie_year = df_movie_matrix['year']
user_ids = df_user_matrix['userId']

# Exclude the 'userId' and 'movieId' column for matrix multiplication or other operations
df_movie_matrix = df_movie_matrix.drop(columns=['movieId'])
df_movie_matrix = df_movie_matrix.drop(columns=['year'])
df_user_matrix = df_user_matrix.drop(columns=['userId'])

df_user_matrix = df_user_matrix.T
user_item_matrix = df_movie_matrix @ df_user_matrix

# Set 'movieId' as the index of user_item_matrix
user_item_matrix['movieId'] = movie_ids
user_item_matrix.set_index('movieId', inplace=True)

user_item_matrix = user_item_matrix.T
user_item_matrix['userId'] = user_ids
user_item_matrix.set_index('userId', inplace=True)
user_item_matrix = user_item_matrix.T
user_item_matrix.columns = user_item_matrix.columns.astype(int)

#user_item_matrix.set_index('movieId', inplace=True)
#recommendation_matrix['userId'] = user_ids


display(df_movie_matrix)
display(df_user_matrix)
display(user_item_matrix)

,movieId,year,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,1995,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,2017,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,2017,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,2017,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9740,193587,2018,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,1991,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,userId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1.00,1.12,1.02,0.83,0.86,1.01,0.65,-0.73,1.29,0.65,1.80,0.31,-1.60,1.10,0.42,0.86,0.83,0.68,0.65,0.98
1,2.00,0.57,0.64,-1.86,-2.31,0.52,0.50,1.56,0.57,-2.97,-0.78,-0.02,0.51,-1.61,0.28,1.11,0.40,0.02,0.65,0.55
2,3.00,-0.02,-1.34,-1.58,-1.97,-4.02,-3.77,-0.73,-5.39,-0.19,-0.78,1.18,-1.60,-1.32,1.08,-4.18,0.80,0.68,-2.08,-1.38
3,4.00,-0.40,-0.07,0.35,0.27,-0.18,0.20,1.38,-0.58,0.07,1.28,0.87,0.09,0.70,-0.13,-0.37,-0.87,-0.05,0.02,0.71
4,5.00,-0.71,0.02,1.01,0.83,0.08,0.05,-0.73,-0.02,1.01,-0.78,-0.02,0.46,0.93,0.28,-0.75,-1.28,-0.19,-0.14,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606.00,-0.61,-0.24,0.24,0.08,-0.13,-0.15,1.28,-0.04,0.03,1.19,0.22,0.12,0.54,0.12,0.11,0.01,-0.23,0.17,0.50
606,607.00,0.21,-0.22,0.35,0.14,-0.41,0.03,-0.73,0.36,0.12,-0.78,0.77,1.21,0.47,0.80,-0.19,-0.36,0.63,0.43,0.82
607,608.00,-0.38,-0.64,-0.10,-0.62,-1.38,-0.20,0.85,-0.67,-0.48,1.15,0.20,0.65,-0.02,-0.08,-1.02,-0.31,-0.22,0.02,0.07
608,609.00,-0.74,-0.20,-1.86,1.77,0.26,-0.33,0.85,-0.79,-2.97,-0.78,0.33,0.09,-1.61,-2.91,-0.61,-0.67,-0.59,-0.03,0.82
609,610.00,0.03,0.02,0.33,0.22,0.12,0.02,1.49,0.12,0.01,1.46,0.34,0.44,0.66,0.10,0.09,0.14,-0.16,0.16,0.68

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
Action,1.12,0.57,-0.02,-0.40,-0.71,0.04,-0.49,-0.38,-0.69,-0.12,...,1.19,-0.02,-0.61,0.07,-0.54,-0.61,0.21,-0.38,-0.74,0.03
Adventure,1.02,0.64,-1.34,-0.07,0.02,0.38,-0.45,0.27,0.13,-0.17,...,1.17,-0.53,-0.85,0.18,-0.56,-0.24,-0.22,-0.64,-0.20,0.02
Animation,0.83,-1.86,-1.58,0.35,1.01,0.39,0.16,0.90,0.35,0.28,...,0.79,0.35,-0.20,0.35,-0.17,0.24,0.35,-0.10,-1.86,0.33
Children,0.86,-2.31,-1.97,0.27,0.83,0.20,0.02,1.54,0.41,0.14,...,0.97,0.02,-0.05,0.35,-0.09,0.08,0.14,-0.62,1.77,0.22
Comedy,1.01,0.52,-4.02,-0.18,0.08,-0.44,-0.65,-0.68,0.01,-0.53,...,1.39,-0.54,-0.52,-0.46,-0.55,-0.13,-0.41,-1.38,0.26,0.12
Crime,0.65,0.50,-3.77,0.20,0.05,-0.57,-0.55,0.12,-0.74,-0.47,...,0.89,-0.08,-0.05,-0.18,-0.85,-0.15,0.03,-0.20,-0.33,0.02
Documentary,-0.73,1.56,-0.73,1.38,-0.73,-0.73,-0.73,-0.73,-0.73,-0.73,...,1.38,0.85,1.31,-0.73,0.85,1.28,-0.73,0.85,0.85,1.49
Drama,1.29,0.57,-5.39,-0.58,-0.02,-0.35,-1.21,-0.04,-0.37,-1.10,...,1.11,-0.92,-0.36,-0.58,-1.24,-0.04,0.36,-0.67,-0.79,0.12
Fantasy,0.65,-2.97,-0.19,0.07,1.01,0.06,-0.33,0.60,1.15,-0.13,...,0.97,0.60,0.02,0.10,-0.35,0.03,0.12,-0.48,-2.97,0.01
Film-Noir,1.80,-0.78,-0.78,1.28,-0.78,0.51,0.90,-0.78,1.28,-0.78,...,-0.78,1.03,1.42,-0.78,-0.78,1.19,-0.78,1.15,-0.78,1.46
Horror,0.31,-0.02,1.18,0.87,-0.02,0.16,0.69,1.05,-0.88,-0.92,...,1.05,0.45,0.29,0.43,-0.12,0.22,0.77,0.20,0.33,0.34
IMAX,-1.60,0.51,-1.60,0.09,0.46,1.03,-0.22,0.93,0.09,0.29,...,0.93,0.65,-1.60,0.37,0.47,0.12,1.21,0.65,0.09,0.44
Musical,1.10,-1.61,-1.32,0.70,0.93,0.80,0.51,1.28,0.12,0.32,...,-1.61,0.70,0.43,0.27,0.17,0.54,0.47,-0.02,-1.61,0.66
Mystery,0.42,0.28,1.08,-0.13,0.28,0.07,-0.37,0.28,0.28,-1.18,...,0.75,-0.15,-0.10,0.08,-0.17,0.12,0.80,-0.08,-2.91,0.10
Romance,0.86,1.11,-4.18,-0.37,-0.75,-0.06,-1.34,-0.21,-0.65,-0.43,...,0.95,-0.56,-0.28,-0.78,-0.44,0.11,-0.19,-1.02,-0.61,0.09
Sci-Fi,0.83,0.40,0.80,-0.87,-1.28,-0.09,-0.48,-0.36,-0.67,-1.90,...,0.92,-0.26,-0.41,0.05,-0.32,0.01,-0.36,-0.31,-0.67,0.14
Thriller,0.68,0.02,0.68,-0.05,-0.19,-0.21,-0.37,0.10,-1.68,-0.52,...,1.05,0.00,-0.19,-0.03,-1.13,-0.23,0.63,-0.22,-0.59,-0.16
War,0.65,0.65,-2.08,0.02,-0.14,0.03,-0.17,0.08,2.36,0.14,...,0.70,0.31,-0.02,-0.37,-0.52,0.17,0.43,0.02,-0.03,0.16
Western,0.98,0.55,-1.38,0.71,0.27,0.72,-0.55,0.27,0.82,-1.38,...,0.82,-0.00,0.79,0.55,0.45,0.50,0.82,0.07,0.82,0.68

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.36,-6.00,-9.11,0.45,2.96,0.59,-1.25,2.64,2.06,-0.42,...,5.29,-0.10,-1.59,0.53,-1.72,-0.02,-0.01,-3.23,-3.01,0.70
2,2.52,-4.65,-3.51,0.27,1.86,0.64,-0.76,2.41,1.69,-0.16,...,3.10,0.10,-0.87,0.63,-1.01,-0.13,0.05,-1.74,-1.41,0.25
3,1.87,1.63,-8.21,-0.55,-0.67,-0.50,-1.99,-0.90,-0.64,-0.97,...,2.34,-1.10,-0.80,-1.24,-0.99,-0.02,-0.60,-2.41,-0.35,0.22
4,3.16,2.19,-13.60,-1.13,-0.69,-0.85,-3.20,-0.93,-1.02,-2.06,...,3.45,-2.02,-1.16,-1.81,-2.22,-0.06,-0.24,-3.07,-1.14,0.33
5,1.01,0.52,-4.02,-0.18,0.08,-0.44,-0.65,-0.68,0.01,-0.53,...,1.39,-0.54,-0.52,-0.46,-0.55,-0.13,-0.41,-1.38,0.26,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.61,-3.75,-5.81,-0.15,1.40,0.06,-1.31,0.45,0.82,-0.51,...,4.34,0.39,-1.31,0.06,-1.61,-0.47,0.28,-2.35,-5.31,0.49
193583,2.49,-4.32,-5.80,0.24,2.11,0.02,-0.82,0.82,1.51,-0.39,...,3.15,0.41,-0.70,-0.00,-1.07,0.14,0.06,-1.96,-4.57,0.46
193585,1.29,0.57,-5.39,-0.58,-0.02,-0.35,-1.21,-0.04,-0.37,-1.10,...,1.11,-0.92,-0.36,-0.58,-1.24,-0.04,0.36,-0.67,-0.79,0.12
193587,1.95,-1.29,-1.60,-0.04,0.30,0.43,-0.33,0.53,-0.34,0.15,...,1.98,0.34,-0.82,0.42,-0.71,-0.37,0.56,-0.48,-2.60,0.36
193609,1.01,0.52,-4.02,-0.18,0.08,-0.44,-0.65,-0.68,0.01,-0.53,...,1.39,-0.54,-0.52,-0.46,-0.55,-0.13,-0.41,-1.38,0.26,0.12

### Top 10 Suggested Movies

In [11]:
df_movie_reference = df_movie.copy()

# Assuming your user_item_matrix DataFrame is already set up
# Get the first 5 user columns
num_users = user_item_matrix.columns[:100]

# Initialize a dictionary to store top movies for each column
top_movies_per_column = {}

# Iterate over the first 5 user columns and get the top 10 movies
for col in num_users:
    top_movies = user_item_matrix.nlargest(10, col)[[col]]
    top_movies_per_column[col] = top_movies

# Display the top 10 movies (movieId and the relevant user column) for each of the first 5 user columns
for col, top_movies_df in top_movies_per_column.items():
    top_movie_titles = []
    top_movie_genres = []
    for movieId, value in top_movies_df.iterrows():
        top_movie_titles.append(df_movie_reference[df_movie_reference['movieId'] == movieId]['title'].values[0])
        top_movie_genres.append(df_movie_reference[df_movie_reference['movieId'] == movieId]['genres'].values[0])
    top_movies_df['title'] = top_movie_titles
    top_movies_df['genres'] = top_movie_genres
    display(top_movies_df)

userId,1,title,genres
movieId,,,
81132,9.28,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,7.62,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
1907,6.95,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
71999,6.45,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
4719,6.44,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
56152,6.31,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
4956,5.98,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
26236,5.95,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
8481,5.94,Northwest Passage (1940),Action|Adventure|Drama|Romance|Thriller|Western
6902,5.90,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...

userId,2,title,genres
movieId,,,
26236,4.05,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
70687,3.75,Paper Heart (2009),Comedy|Documentary|Drama|Romance
31617,3.53,El Cid (1961),Action|Adventure|Drama|Romance|War
77866,3.53,Robin Hood (2010),Action|Adventure|Drama|Romance|War
8481,3.45,Northwest Passage (1940),Action|Adventure|Drama|Romance|Thriller|Western
4956,3.42,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
459,3.40,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
42015,3.40,Casanova (2005),Action|Adventure|Comedy|Drama|Romance
31367,3.35,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
970,3.33,Beat the Devil (1953),Adventure|Comedy|Crime|Drama|Romance

userId,3,title,genres
movieId,,,
2232,3.74,Cube (1997),Horror|Mystery|Sci-Fi|Thriller
7001,3.74,Invasion of the Body Snatchers (1978),Horror|Mystery|Sci-Fi|Thriller
32213,3.74,Cube Zero (2004),Horror|Mystery|Sci-Fi|Thriller
90345,3.74,"Thing, The (2011)",Horror|Mystery|Sci-Fi|Thriller
184253,3.74,The Cloverfield Paradox (2018),Horror|Mystery|Sci-Fi|Thriller
31804,3.54,Night Watch (Nochnoy dozor) (2004),Action|Fantasy|Horror|Mystery|Sci-Fi|Thriller
2454,3.07,"Fly, The (1958)",Horror|Mystery|Sci-Fi
27482,3.07,Cube 2: Hypercube (2002),Horror|Mystery|Sci-Fi
5746,3.05,Galaxy of Terror (Quest) (1981),Action|Horror|Mystery|Sci-Fi
1350,2.94,"Omen, The (1976)",Horror|Mystery|Thriller

userId,4,title,genres
movieId,,,
5735,2.25,Faces of Death (1978),Documentary|Horror
5736,2.25,Faces of Death 3 (1985),Documentary|Horror
58879,2.17,Shine a Light (2008),Documentary|Musical|IMAX
1191,2.08,Madonna: Truth or Dare (1991),Documentary|Musical
2677,2.08,Buena Vista Social Club (1999),Documentary|Musical
2859,2.08,Stop Making Sense (1984),Documentary|Musical
3142,2.08,U2: Rattle and Hum (1988),Documentary|Musical
3679,2.08,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,2.08,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,2.08,Monterey Pop (1968),Documentary|Musical

userId,5,title,genres
movieId,,,
60365,3.88,Frosty the Snowman (1969),Animation|Children|Comedy|Fantasy|Musical
661,3.81,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
1032,3.81,Alice in Wonderland (1951),Adventure|Animation|Children|Fantasy|Musical
1881,3.81,Quest for Camelot (1998),Adventure|Animation|Children|Fantasy|Musical
73854,3.81,"Rudolph, the Red-Nosed Reindeer (1964)",Adventure|Animation|Children|Fantasy|Musical
551,3.79,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
596,3.79,Pinocchio (1940),Animation|Children|Fantasy|Musical
1025,3.79,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1282,3.79,Fantasia (1940),Animation|Children|Fantasy|Musical
2087,3.79,Peter Pan (1953),Animation|Children|Fantasy|Musical

userId,6,title,genres
movieId,,,
2142,2.49,"American Tail: Fievel Goes West, An (1991)",Adventure|Animation|Children|Musical|Western
364,2.44,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
595,2.42,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
3159,2.41,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
93272,2.28,Dr. Seuss' The Lorax (2012),Animation|Fantasy|Musical|IMAX
103384,2.17,"Lone Ranger, The (2013)",Action|Adventure|Western|IMAX
8965,2.06,"Polar Express, The (2004)",Adventure|Animation|Children|Fantasy|IMAX
76093,2.06,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX
98243,2.06,Rise of the Guardians (2012),Adventure|Animation|Children|Fantasy|IMAX
81847,1.98,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...

userId,7,title,genres
movieId,,,
2066,0.90,Out of the Past (1947),Film-Noir
4426,0.90,Kiss Me Deadly (1955),Film-Noir
7335,0.90,Pickup on South Street (1953),Film-Noir
3706,0.84,Angel Heart (1987),Film-Noir|Horror|Mystery|Thriller
101074,0.71,"Legend of Sleepy Hollow, The (1949)",Animation|Comedy|Horror|Musical
177,0.69,Lord of Illusions (1995),Horror
220,0.69,Castle Freak (1995),Horror
735,0.69,Cemetery Man (Dellamorte Dellamore) (1994),Horror
841,0.69,"Eyes Without a Face (Yeux sans visage, Les) (1...",Horror
1105,0.69,Children of the Corn IV: The Gathering (1996),Horror

userId,8,title,genres
movieId,,,
595,5.05,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
364,4.89,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
3159,4.66,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
661,4.60,James and the Giant Peach (1996),Adventure|Animation|Children|Fantasy|Musical
1032,4.60,Alice in Wonderland (1951),Adventure|Animation|Children|Fantasy|Musical
1881,4.60,Quest for Camelot (1998),Adventure|Animation|Children|Fantasy|Musical
73854,4.60,"Rudolph, the Red-Nosed Reindeer (1964)",Adventure|Animation|Children|Fantasy|Musical
631,4.39,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,4.39,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
81847,4.36,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...

userId,9,title,genres
movieId,,,
36397,4.42,Valiant (2005),Adventure|Animation|Children|Comedy|Fantasy|War
1920,4.27,Small Soldiers (1998),Animation|Children|Fantasy|War
4323,3.32,"Horse Soldiers, The (1959)",Adventure|War|Western
26142,3.32,Major Dundee (1965),Adventure|War|Western
31150,3.20,Wizards (1977),Animation|Fantasy|Sci-Fi|War
6428,3.19,Two Mules for Sister Sara (1970),Comedy|War|Western
54686,2.96,"Last Legion, The (2007)",Action|Adventure|Fantasy|War
32515,2.94,Walker (1987),Adventure|Drama|War|Western
63853,2.94,Australia (2008),Adventure|Drama|War|Western
51662,2.91,300 (2007),Action|Fantasy|War|IMAX

userId,10,title,genres
movieId,,,
3159,1.02,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
93272,0.75,Dr. Seuss' The Lorax (2012),Animation|Fantasy|Musical|IMAX
1023,0.73,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1024,0.73,"Three Caballeros, The (1945)",Animation|Children|Musical
1489,0.73,Cats Don't Dance (1997),Animation|Children|Musical
2096,0.73,Sleeping Beauty (1959),Animation|Children|Musical
5629,0.73,Jonah: A VeggieTales Movie (2002),Animation|Children|Musical
31193,0.73,"Many Adventures of Winnie the Pooh, The (1977)",Animation|Children|Musical
60803,0.73,"Little Drummer Boy, The (1968)",Animation|Children|Musical
91488,0.73,"Snowman, The (1982)",Animation|Children|Musical

userId,11,title,genres
movieId,,,
27317,3.48,Audition (Ôdishon) (1999),Drama|Horror|Mystery|Romance|Thriller
103249,3.32,World War Z (2013),Action|Drama|Horror|IMAX
22,2.97,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
382,2.93,Wolf (1994),Drama|Horror|Romance|Thriller
7713,2.93,Cat People (1942),Drama|Horror|Romance|Thriller
120827,2.84,The Hound of the Baskervilles (1988),Crime|Drama|Horror|Mystery
107771,2.80,Only Lovers Left Alive (2013),Drama|Horror|Romance
79132,2.79,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
56174,2.76,I Am Legend (2007),Action|Horror|Sci-Fi|Thriller|IMAX
80363,2.76,Resident Evil: Afterlife (2010),Action|Horror|Sci-Fi|Thriller|IMAX

userId,12,title,genres
movieId,,,
27420,5.39,Teknolust (2002),Comedy|Drama|Romance|Sci-Fi
53161,5.39,"I'm a Cyborg, But That's OK (Saibogujiman kwen...",Comedy|Drama|Romance|Sci-Fi
587,5.22,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
57504,5.19,"Girl Who Leapt Through Time, The (Toki o kaker...",Animation|Comedy|Drama|Romance|Sci-Fi
356,4.87,Forrest Gump (1994),Comedy|Drama|Romance|War
2324,4.87,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
3003,4.87,Train of Life (Train de vie) (1998),Comedy|Drama|Romance|War
48032,4.87,"Tiger and the Snow, The (La tigre e la neve) (...",Comedy|Drama|Romance|War
56060,4.87,I Served the King of England (Obsluhoval jsem ...,Comedy|Drama|Romance|War
72142,4.85,Love Exposure (Ai No Mukidashi) (2008),Action|Comedy|Drama|Romance

userId,13,title,genres
movieId,,,
36509,8.10,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
31804,6.97,Night Watch (Nochnoy dozor) (2004),Action|Fantasy|Horror|Mystery|Sci-Fi|Thriller
57368,6.78,Cloverfield (2008),Action|Mystery|Sci-Fi|Thriller
114935,6.78,Predestination (2014),Action|Mystery|Sci-Fi|Thriller
135518,6.78,Self/less (2015),Action|Mystery|Sci-Fi|Thriller
183635,6.78,Maze Runner: The Death Cure (2018),Action|Mystery|Sci-Fi|Thriller
5746,6.71,Galaxy of Terror (Quest) (1981),Action|Horror|Mystery|Sci-Fi
39400,6.66,"Fog, The (2005)",Action|Horror|Mystery|Thriller
160,6.65,Congo (1995),Action|Adventure|Mystery|Sci-Fi
1909,6.64,"X-Files: Fight the Future, The (1998)",Action|Crime|Mystery|Sci-Fi|Thriller

userId    14                       title                      genres
movieId
7614    1.91            Oklahoma! (1955)     Musical|Romance|Western
266     1.80  Legends of the Fall (1994)   Drama|Romance|War|Western
714     1.75             Dead Man (1995)       Drama|Mystery|Western
800     1.75            Lone Star (1996)       Drama|Mystery|Western
99149   1.71      Misérables, Les (2012)  Drama|Musical|Romance|IMAX
5372    1.66        Calamity Jane (1953)             Musical|Western
5550    1.66       Love Me Tender (1956)             Musical|Western
2328    1.65             Vampires (1998)              Horror|Western
3727    1.65            Near Dark (1987)              Horror|Western
144976  1.65        Bone Tomahawk (2015)              Horror|Western

userId    15                          title                 genres
movieId
130840  0.90                  Spring (2015)  Horror|Romance|Sci-Fi
2633    0.86              Mummy, The (1932)         Horror|Romance
6665    0.86                 Dracula (1979)         Horror|Romance
6746    0.86                  Squirm (1976)         Horror|Romance
81417   0.82   Paranormal Activity 2 (2010)            Horror|IMAX
97701   0.82   Paranormal Activity 4 (2012)            Horror|IMAX
26122   0.82                 Onibaba (1964)       Drama|Horror|War
107771  0.73  Only Lovers Left Alive (2013)   Drama|Horror|Romance
976     0.68     Farewell to Arms, A (1932)            Romance|War
1398    0.68         In Love and War (1996)            Romance|War

userId,16,title,genres
movieId,,,
81132,2.54,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
3706,2.33,Angel Heart (1987),Film-Noir|Horror|Mystery|Thriller
26701,2.22,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
4445,2.20,T-Rex: Back to the Cretaceous (1998),Adventure|Documentary|IMAX
32031,2.13,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
1797,2.10,Everest (1998),Documentary|IMAX
4453,2.10,Michael Jordan to the Max (2000),Documentary|IMAX
4458,2.10,Africa: The Serengeti (1994),Documentary|IMAX
4459,2.10,Alaska: Spirit of the Wild (1997),Documentary|IMAX
4864,2.10,Titanica (1992),Documentary|IMAX

userId,17,title,genres
movieId,,,
81132,8.39,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
85261,6.73,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
32031,6.56,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
26701,6.43,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
52462,6.09,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
40339,5.99,Chicken Little (2005),Action|Adventure|Animation|Children|Comedy|Sci-Fi
52287,5.99,Meet the Robinsons (2007),Action|Adventure|Animation|Children|Comedy|Sci-Fi
157865,5.99,Ratchet & Clank (2016),Action|Adventure|Animation|Children|Comedy|Sci-Fi
546,5.96,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
84944,5.90,Rango (2011),Action|Adventure|Animation|Children|Comedy|Wes...

userId,18,title,genres
movieId,,,
81132,2.87,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,2.42,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
58879,2.35,Shine a Light (2008),Documentary|Musical|IMAX
82857,2.21,Sweetgrass (2009),Adventure|Documentary|Western
61236,2.06,Waltz with Bashir (Vals im Bashir) (2008),Animation|Documentary|Drama|War
114066,2.04,"20,000 Days on Earth (2014)",Documentary|Drama|Musical
4848,2.01,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller
130482,2.01,Too Late for Tears (1949),Crime|Drama|Film-Noir|Mystery|Thriller
1464,1.97,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
1191,1.89,Madonna: Truth or Dare (1991),Documentary|Musical

userId    19                          title             genres
movieId
2066    0.94         Out of the Past (1947)          Film-Noir
4426    0.94          Kiss Me Deadly (1955)          Film-Noir
7335    0.94  Pickup on South Street (1953)          Film-Noir
913     0.40     Maltese Falcon, The (1941)  Film-Noir|Mystery
5372    0.05           Calamity Jane (1953)    Musical|Western
5550    0.05          Love Me Tender (1956)    Musical|Western
918     0.03    Meet Me in St. Louis (1944)            Musical
938     0.03                    Gigi (1958)            Musical
963     0.03  Inspector General, The (1949)            Musical
1926    0.03    Broadway Melody, The (1929)            Musical

userId,20,title,genres
movieId,,,
81847,3.52,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
595,3.50,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
58879,3.21,Shine a Light (2008),Documentary|Musical|IMAX
3159,2.79,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
93272,2.70,Dr. Seuss' The Lorax (2012),Animation|Fantasy|Musical|IMAX
1064,2.53,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
1022,2.51,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance
72737,2.51,"Princess and the Frog, The (2009)",Animation|Children|Fantasy|Musical|Romance
364,2.48,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
99149,2.40,"Misérables, Les (2012)",Drama|Musical|Romance|IMAX

userId    21                          title                         genres
movieId
103384  1.03        Lone Ranger, The (2013)  Action|Adventure|Western|IMAX
2066    1.03         Out of the Past (1947)                      Film-Noir
4426    1.03          Kiss Me Deadly (1955)                      Film-Noir
7335    1.03  Pickup on South Street (1953)                      Film-Noir
4323    0.85     Horse Soldiers, The (1959)          Adventure|War|Western
26142   0.85            Major Dundee (1965)          Adventure|War|Western
5372    0.83           Calamity Jane (1953)                Musical|Western
5550    0.83          Love Me Tender (1956)                Musical|Western
210     0.82               Wild Bill (1995)                        Western
383     0.82              Wyatt Earp (1994)                        Western

userId    22                          title     genres
movieId
2066    1.54         Out of the Past (1947)  Film-Noir
4426    1.54          Kiss Me Deadly (1955)  Film-Noir
7335    1.54  Pickup on South Street (1953)  Film-Noir
210     0.82               Wild Bill (1995)    Western
383     0.82              Wyatt Earp (1994)    Western
416     0.82               Bad Girls (1994)    Western
2401    0.82              Pale Rider (1985)    Western
2896    0.82           Alvarez Kelly (1966)    Western
2921    0.82     High Plains Drifter (1973)    Western
3037    0.82          Little Big Man (1970)    Western

userId,23,title,genres
movieId,,,
3706,2.49,Angel Heart (1987),Film-Noir|Horror|Mystery|Thriller
44849,2.29,Renaissance (2006),Action|Animation|Film-Noir|Sci-Fi|Thriller
26701,2.29,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
81132,2.04,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
31804,2.00,Night Watch (Nochnoy dozor) (2004),Action|Fantasy|Horror|Mystery|Sci-Fi|Thriller
32587,1.90,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller
175197,1.87,The Dark Tower (2017),Fantasy|Horror|Sci-Fi|Western
1212,1.80,"Third Man, The (1949)",Film-Noir|Mystery|Thriller
2206,1.80,Suspicion (1941),Film-Noir|Mystery|Thriller
4496,1.80,D.O.A. (1988),Film-Noir|Mystery|Thriller

userId,24,title,genres
movieId,,,
3159,2.05,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
595,2.00,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
81847,1.90,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
81564,1.84,Megamind (2010),Action|Animation|Children|Comedy|Sci-Fi|IMAX
85261,1.77,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
364,1.76,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
71264,1.74,Cloudy with a Chance of Meatballs (2009),Animation|Children|Fantasy|IMAX
59784,1.72,Kung Fu Panda (2008),Action|Animation|Children|Comedy|IMAX
32031,1.68,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
5882,1.68,Treasure Planet (2002),Adventure|Animation|Children|Sci-Fi|IMAX

userId,25,title,genres
movieId,,,
4719,17.68,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
4956,17.51,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
6902,17.32,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
117646,16.89,Dragonheart 2: A New Beginning (2000),Action|Adventure|Comedy|Drama|Fantasy|Thriller
31367,16.84,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
26236,16.75,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
164226,16.27,Maximum Ride (2016),Action|Adventure|Comedy|Fantasy|Sci-Fi|Thriller
85261,16.16,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
52462,16.12,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
31921,16.11,"Seven-Per-Cent Solution, The (1976)",Adventure|Comedy|Crime|Drama|Mystery|Thriller

userId,26,title,genres
movieId,,,
1350,0.99,"Omen, The (1976)",Horror|Mystery|Thriller
1644,0.99,I Know What You Did Last Summer (1997),Horror|Mystery|Thriller
1974,0.99,Friday the 13th (1980),Horror|Mystery|Thriller
2338,0.99,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller
2841,0.99,Stir of Echoes (1999),Horror|Mystery|Thriller
2902,0.99,Psycho II (1983),Horror|Mystery|Thriller
3849,0.99,The Spiral Staircase (1945),Horror|Mystery|Thriller
4517,0.99,Lady in White (a.k.a. The Mystery of the Lady ...,Horror|Mystery|Thriller
4833,0.99,"Changeling, The (1980)",Horror|Mystery|Thriller
5679,0.99,"Ring, The (2002)",Horror|Mystery|Thriller

userId,27,title,genres
movieId,,,
2940,2.44,Gilda (1946),Drama|Film-Noir|Mystery|Romance
6273,2.44,In a Lonely Place (1950),Drama|Film-Noir|Mystery|Romance
1464,2.13,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
7614,2.05,Oklahoma! (1955),Musical|Romance|Western
99149,1.91,"Misérables, Les (2012)",Drama|Musical|Romance|IMAX
595,1.89,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
347,1.89,Bitter Moon (1992),Drama|Film-Noir|Romance
922,1.89,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Drama|Film-Noir|Romance
913,1.83,"Maltese Falcon, The (1941)",Film-Noir|Mystery
7223,1.82,D.O.A. (1950),Drama|Film-Noir|Mystery

userId    28                              title                    genres
movieId
58879   1.92               Shine a Light (2008)  Documentary|Musical|IMAX
1797    1.51                     Everest (1998)          Documentary|IMAX
4453    1.51   Michael Jordan to the Max (2000)          Documentary|IMAX
4458    1.51       Africa: The Serengeti (1994)          Documentary|IMAX
4459    1.51  Alaska: Spirit of the Wild (1997)          Documentary|IMAX
4864    1.51                    Titanica (1992)          Documentary|IMAX
6289    1.51         Ghosts of the Abyss (2003)          Documentary|IMAX
1191    1.40      Madonna: Truth or Dare (1991)       Documentary|Musical
2677    1.40     Buena Vista Social Club (1999)       Documentary|Musical
2859    1.40           Stop Making Sense (1984)       Documentary|Musical

userId,29,title,genres
movieId,,,
81132,8.13,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,6.43,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
1464,5.39,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
79132,5.26,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
43932,5.03,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
4848,5.00,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller
130482,5.00,Too Late for Tears (1949),Crime|Drama|Film-Noir|Mystery|Thriller
32587,4.94,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller
7217,4.74,Dark Passage (1947),Crime|Drama|Film-Noir|Romance|Thriller
36509,4.73,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller

userId,30,title,genres
movieId,,,
71999,12.12,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
4719,11.66,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
79132,11.43,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
4956,11.25,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
459,11.05,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
6902,10.83,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
117646,10.42,Dragonheart 2: A New Beginning (2000),Action|Adventure|Comedy|Drama|Fantasy|Thriller
88125,10.38,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX
42015,10.34,Casanova (2005),Action|Adventure|Comedy|Drama|Romance
198,10.21,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller

userId,31,title,genres
movieId,,,
2414,5.55,Young Sherlock Holmes (1985),Action|Adventure|Children|Fantasy|Mystery|Thri...
52462,5.22,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
97757,4.86,'Hellboy': The Seeds of Creation (2004),Action|Adventure|Comedy|Documentary|Fantasy
56152,4.85,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
26340,4.83,"Twelve Tasks of Asterix, The (Les douze travau...",Action|Adventure|Animation|Children|Comedy|Fan...
51939,4.83,TMNT (Teenage Mutant Ninja Turtles) (2007),Action|Adventure|Animation|Children|Comedy|Fan...
108932,4.83,The Lego Movie (2014),Action|Adventure|Animation|Children|Comedy|Fan...
36509,4.78,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
40339,4.69,Chicken Little (2005),Action|Adventure|Animation|Children|Comedy|Sci-Fi
52287,4.69,Meet the Robinsons (2007),Action|Adventure|Animation|Children|Comedy|Sci-Fi

userId,32,title,genres
movieId,,,
1907,3.41,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
56152,3.36,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
1064,3.28,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
594,3.25,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
60365,3.18,Frosty the Snowman (1969),Animation|Children|Comedy|Fantasy|Musical
631,3.13,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,3.13,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
8360,3.11,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
48,3.10,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
783,3.10,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance

userId,33,title,genres
movieId,,,
81132,5.59,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
6350,4.11,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,Action|Adventure|Animation|Children|Fantasy|Sc...
26590,4.11,G.I. Joe: The Movie (1987),Action|Adventure|Animation|Children|Fantasy|Sc...
27155,4.11,"Batman/Superman Movie, The (1998)",Action|Adventure|Animation|Children|Fantasy|Sc...
84944,4.06,Rango (2011),Action|Adventure|Animation|Children|Comedy|Wes...
85261,4.06,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
56152,4.06,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
40339,3.97,Chicken Little (2005),Action|Adventure|Animation|Children|Comedy|Sci-Fi
52287,3.97,Meet the Robinsons (2007),Action|Adventure|Animation|Children|Comedy|Sci-Fi
157865,3.97,Ratchet & Clank (2016),Action|Adventure|Animation|Children|Comedy|Sci-Fi

userId,34,title,genres
movieId,,,
103384,1.43,"Lone Ranger, The (2013)",Action|Adventure|Western|IMAX
53519,1.33,Death Proof (2007),Action|Adventure|Crime|Horror|Thriller
6950,1.25,"Missing, The (2003)",Adventure|Thriller|Western
1201,1.25,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western
7070,1.25,Red River (1948),Action|Adventure|Western
303,1.24,"Quick and the Dead, The (1995)",Action|Thriller|Western
133802,1.24,Slow West (2015),Action|Thriller|Western
45442,1.23,Poseidon (2006),Action|Adventure|Thriller|IMAX
91630,1.23,Mission: Impossible - Ghost Protocol (2011),Action|Adventure|Thriller|IMAX
96079,1.23,Skyfall (2012),Action|Adventure|Thriller|IMAX

userId,35,title,genres
movieId,,,
31921,7.15,"Seven-Per-Cent Solution, The (1976)",Adventure|Comedy|Crime|Drama|Mystery|Thriller
1799,6.46,Suicide Kings (1997),Comedy|Crime|Drama|Mystery|Thriller
27674,6.46,11:14 (2003),Comedy|Crime|Drama|Mystery|Thriller
4719,6.26,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
459,6.13,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
91542,6.10,Sherlock Holmes: A Game of Shadows (2011),Action|Adventure|Comedy|Crime|Mystery|Thriller
2058,6.08,"Negotiator, The (1998)",Action|Crime|Drama|Mystery|Thriller
5388,6.08,Insomnia (2002),Action|Crime|Drama|Mystery|Thriller
7445,6.08,Man on Fire (2004),Action|Crime|Drama|Mystery|Thriller
8860,6.08,Cellular (2004),Action|Crime|Drama|Mystery|Thriller

userId,36,title,genres
movieId,,,
2066,0.90,Out of the Past (1947),Film-Noir
4426,0.90,Kiss Me Deadly (1955),Film-Noir
7335,0.90,Pickup on South Street (1953),Film-Noir
913,0.38,"Maltese Falcon, The (1941)",Film-Noir|Mystery
114335,0.00,La cravate (1957),(no genres listed)
122888,0.00,Ben-hur (2016),(no genres listed)
122896,0.00,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed)
129250,0.00,Superfast! (2015),(no genres listed)
132084,0.00,Let It Be Me (1995),(no genres listed)
134861,0.00,Trevor Noah: African American (2013),(no genres listed)

userId,37,title,genres
movieId,,,
8830,5.32,Anacondas: The Hunt for the Blood Orchid (2004),Adventure|Drama|Horror|Sci-Fi|Thriller
51709,5.22,"Host, The (Gwoemul) (2006)",Comedy|Drama|Horror|Sci-Fi|Thriller
7235,4.97,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
6395,4.72,"Crazies, The (a.k.a. Code Name: Trixie) (1973)",Action|Drama|Horror|Sci-Fi|Thriller
54771,4.72,"Invasion, The (2007)",Action|Drama|Horror|Sci-Fi|Thriller
74685,4.72,"Crazies, The (2010)",Action|Drama|Horror|Sci-Fi|Thriller
27683,4.63,Tremors 4: The Legend Begins (2004),Action|Comedy|Horror|Sci-Fi|Thriller|Western
26849,4.61,"Stand, The (1994)",Adventure|Drama|Fantasy|Horror|Sci-Fi
51545,4.56,Pusher III: I'm the Angel of Death (2005),Action|Comedy|Drama|Horror|Thriller
2455,4.52,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller

userId    38                              title                    genres
movieId
80862   2.46                     Catfish (2010)       Documentary|Mystery
58879   2.42               Shine a Light (2008)  Documentary|Musical|IMAX
1797    2.19                     Everest (1998)          Documentary|IMAX
4453    2.19   Michael Jordan to the Max (2000)          Documentary|IMAX
4458    2.19       Africa: The Serengeti (1994)          Documentary|IMAX
4459    2.19  Alaska: Spirit of the Wild (1997)          Documentary|IMAX
4864    2.19                    Titanica (1992)          Documentary|IMAX
6289    2.19         Ghosts of the Abyss (2003)          Documentary|IMAX
1191    2.15      Madonna: Truth or Dare (1991)       Documentary|Musical
2677    2.15     Buena Vista Social Club (1999)       Documentary|Musical

userId,39,title,genres
movieId,,,
81132,7.46,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,5.63,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
79132,5.30,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
27683,5.24,Tremors 4: The Legend Begins (2004),Action|Comedy|Horror|Sci-Fi|Thriller|Western
43932,5.08,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
7235,4.87,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
36509,4.65,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
198,4.64,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
52281,4.61,Grindhouse (2007),Action|Crime|Horror|Sci-Fi|Thriller
60684,4.59,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX

userId,40,title,genres
movieId,,,
72294,2.74,"Christmas Carol, A (2009)",Animation|Children|Drama|Fantasy|IMAX
364,2.61,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
81847,2.54,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
595,2.44,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
88125,2.31,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX
2097,2.29,Something Wicked This Way Comes (1983),Children|Drama|Fantasy|Mystery|Thriller
594,2.27,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
58105,2.22,"Spiderwick Chronicles, The (2008)",Adventure|Children|Drama|Fantasy|IMAX
71745,2.22,Where the Wild Things Are (2009),Adventure|Children|Drama|Fantasy|IMAX
52712,2.16,"Invisible, The (2007)",Crime|Drama|Fantasy|Mystery|Thriller

userId    41                          title             genres
movieId
2066    1.41         Out of the Past (1947)          Film-Noir
4426    1.41          Kiss Me Deadly (1955)          Film-Noir
7335    1.41  Pickup on South Street (1953)          Film-Noir
913     1.27     Maltese Falcon, The (1941)  Film-Noir|Mystery
999     0.95    2 Days in the Valley (1996)    Crime|Film-Noir
1068    0.95               Crossfire (1947)    Crime|Film-Noir
2511    0.95       Long Goodbye, The (1973)    Crime|Film-Noir
2726    0.95            Killing, The (1956)    Crime|Film-Noir
2727    0.95           Killer's Kiss (1955)    Crime|Film-Noir
3364    0.95     Asphalt Jungle, The (1950)    Crime|Film-Noir

userId    42                                 title                      genres
movieId
58879   3.11                  Shine a Light (2008)    Documentary|Musical|IMAX
1797    2.49                        Everest (1998)            Documentary|IMAX
4453    2.49      Michael Jordan to the Max (2000)            Documentary|IMAX
4458    2.49          Africa: The Serengeti (1994)            Documentary|IMAX
4459    2.49     Alaska: Spirit of the Wild (1997)            Documentary|IMAX
4864    2.49                       Titanica (1992)            Documentary|IMAX
6289    2.49            Ghosts of the Abyss (2003)            Documentary|IMAX
4445    2.23  T-Rex: Back to the Cretaceous (1998)  Adventure|Documentary|IMAX
114066  2.19           20,000 Days on Earth (2014)   Documentary|Drama|Musical
1191    2.18         Madonna: Truth or Dare (1991)         Documentary|Musical

userId,43,title,genres
movieId,,,
32031,9.18,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
56152,9.01,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
85261,9.00,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
1907,8.81,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
81847,8.69,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
52462,8.62,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
81132,8.53,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
71999,8.51,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
6902,8.40,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
673,7.97,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...

userId,44,title,genres
movieId,,,
4690,0.37,"Cotton Club, The (1984)",Crime|Musical
1023,0.36,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1024,0.36,"Three Caballeros, The (1945)",Animation|Children|Musical
1489,0.36,Cats Don't Dance (1997),Animation|Children|Musical
2096,0.36,Sleeping Beauty (1959),Animation|Children|Musical
5629,0.36,Jonah: A VeggieTales Movie (2002),Animation|Children|Musical
31193,0.36,"Many Adventures of Winnie the Pooh, The (1977)",Animation|Children|Musical
60803,0.36,"Little Drummer Boy, The (1968)",Animation|Children|Musical
91488,0.36,"Snowman, The (1982)",Animation|Children|Musical
1148,0.31,Wallace & Gromit: The Wrong Trousers (1993),Animation|Children|Comedy|Crime

userId,45,title,genres
movieId,,,
364,3.86,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
79132,3.74,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
81132,3.59,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
81847,3.57,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
85261,3.50,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
595,3.50,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
58879,3.31,Shine a Light (2008),Documentary|Musical|IMAX
62999,3.29,Madagascar: Escape 2 Africa (2008),Action|Adventure|Animation|Children|Comedy|IMAX
87222,3.29,Kung Fu Panda 2 (2011),Action|Adventure|Animation|Children|Comedy|IMAX
60684,3.27,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX

userId,46,title,genres
movieId,,,
81847,11.38,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
56152,11.15,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
32031,10.53,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
595,10.45,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
631,10.22,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,10.22,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
1064,10.17,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
47124,9.97,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX
78499,9.97,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX
78637,9.97,Shrek Forever After (a.k.a. Shrek: The Final C...,Adventure|Animation|Children|Comedy|Fantasy|IMAX

userId,47,title,genres
movieId,,,
58879,1.13,Shine a Light (2008),Documentary|Musical|IMAX
1191,1.09,Madonna: Truth or Dare (1991),Documentary|Musical
2677,1.09,Buena Vista Social Club (1999),Documentary|Musical
2859,1.09,Stop Making Sense (1984),Documentary|Musical
3142,1.09,U2: Rattle and Hum (1988),Documentary|Musical
3679,1.09,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,1.09,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,1.09,Monterey Pop (1968),Documentary|Musical
26195,1.09,Sympathy for the Devil (1968),Documentary|Musical
67665,1.09,Anvil! The Story of Anvil (2008),Documentary|Musical

userId,48,title,genres
movieId,,,
1907,11.16,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
81847,10.87,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
56152,10.54,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
1064,10.08,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
595,10.07,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
48,9.90,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
783,9.90,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
8360,9.80,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
631,9.74,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,9.74,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...

userId,49,title,genres
movieId,,,
79132,7.67,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
49530,7.58,Blood Diamond (2006),Action|Adventure|Crime|Drama|Thriller|War
26236,7.28,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
60684,7.23,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
36529,6.83,Lord of War (2005),Action|Crime|Drama|Thriller|War
2890,6.83,Three Kings (1999),Action|Adventure|Comedy|Drama|War
82765,6.83,Little Big Soldier (Da bing xiao jiang) (2010),Action|Adventure|Comedy|Drama|War
198,6.83,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
6395,6.78,"Crazies, The (a.k.a. Code Name: Trixie) (1973)",Action|Drama|Horror|Sci-Fi|Thriller
54771,6.78,"Invasion, The (2007)",Action|Drama|Horror|Sci-Fi|Thriller

userId    50                                 title       genres
movieId
2066    1.03                Out of the Past (1947)    Film-Noir
4426    1.03                 Kiss Me Deadly (1955)    Film-Noir
7335    1.03         Pickup on South Street (1953)    Film-Noir
77      0.93                      Nico Icon (1995)  Documentary
99      0.93  Heidi Fleiss: Hollywood Madam (1995)  Documentary
108     0.93                        Catwalk (1996)  Documentary
116     0.93          Anne Frank Remembered (1995)  Documentary
128     0.93                 Jupiter's Wife (1994)  Documentary
137     0.93                Man of the Year (1995)  Documentary
162     0.93                          Crumb (1994)  Documentary

userId,51,title,genres
movieId,,,
70687,3.00,Paper Heart (2009),Comedy|Documentary|Drama|Romance
49265,2.87,Shooting Dogs (a.k.a. Beyond the Gates) (2005),Documentary|Drama|War
114066,2.85,"20,000 Days on Earth (2014)",Documentary|Drama|Musical
61236,2.70,Waltz with Bashir (Vals im Bashir) (2008),Animation|Documentary|Drama|War
81132,2.68,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
1464,2.65,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
58879,2.61,Shine a Light (2008),Documentary|Musical|IMAX
6125,2.60,"Secret Policeman's Other Ball, The (1982)",Comedy|Documentary|Musical
8464,2.59,Super Size Me (2004),Comedy|Documentary|Drama
27899,2.59,What the #$*! Do We Know!? (a.k.a. What the Bl...,Comedy|Documentary|Drama

userId,52,title,genres
movieId,,,
81132,9.29,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
71999,8.40,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
79132,8.15,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
6902,7.97,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
43932,7.79,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
85261,7.71,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
4719,7.68,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
4956,7.50,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
52462,7.48,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
164226,7.37,Maximum Ride (2016),Action|Adventure|Comedy|Fantasy|Sci-Fi|Thriller

userId,53,title,genres
movieId,,,
81132,15.85,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
4956,13.32,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
31367,12.58,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
7235,12.56,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
26236,12.38,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War
91542,11.89,Sherlock Holmes: A Game of Shadows (2011),Action|Adventure|Comedy|Crime|Mystery|Thriller
31921,11.87,"Seven-Per-Cent Solution, The (1976)",Adventure|Comedy|Crime|Drama|Mystery|Thriller
55116,11.55,"Hunting Party, The (2007)",Action|Adventure|Comedy|Drama|Thriller
42015,11.38,Casanova (2005),Action|Adventure|Comedy|Drama|Romance
27032,11.20,Who Am I? (Wo shi shei) (1998),Action|Adventure|Comedy|Sci-Fi|Thriller

userId,54,title,genres
movieId,,,
33294,2.06,Vampire Hunter D (1985),Animation|Fantasy|Horror
93272,1.58,Dr. Seuss' The Lorax (2012),Animation|Fantasy|Musical|IMAX
551,1.56,"Nightmare Before Christmas, The (1993)",Animation|Children|Fantasy|Musical
596,1.56,Pinocchio (1940),Animation|Children|Fantasy|Musical
1025,1.56,"Sword in the Stone, The (1963)",Animation|Children|Fantasy|Musical
1282,1.56,Fantasia (1940),Animation|Children|Fantasy|Musical
2087,1.56,Peter Pan (1953),Animation|Children|Fantasy|Musical
95170,1.56,Beauty and the Beast: The Enchanted Christmas ...,Animation|Children|Fantasy|Musical
126482,1.56,Strange Magic (2015),Animation|Children|Fantasy|Musical
148978,1.54,Blue Exorcist: The Movie (2012),Animation|Fantasy|Horror|Mystery

userId    55                            title          genres
movieId
521     1.19         Romeo Is Bleeding (1993)  Crime|Thriller
555     1.19              True Romance (1993)  Crime|Thriller
579     1.19  Escort, The (Scorta, La) (1993)  Crime|Thriller
731     1.19        Heaven's Prisoners (1996)  Crime|Thriller
832     1.19                    Ransom (1996)  Crime|Thriller
1352    1.19          Albino Alligator (1996)  Crime|Thriller
1675    1.19                 Incognito (1997)  Crime|Thriller
1686    1.19                Red Corner (1997)  Crime|Thriller
1785    1.19          King of New York (1990)  Crime|Thriller
2561    1.19                True Crime (1999)  Crime|Thriller

userId,56,title,genres
movieId,,,
364,4.83,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
1907,4.81,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
81847,4.78,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
8360,4.58,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
595,4.36,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
56152,4.35,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
26999,4.16,"Lion King II: Simba's Pride, The (1998)",Adventure|Animation|Children|Musical|Romance
85261,3.98,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
62999,3.97,Madagascar: Escape 2 Africa (2008),Action|Adventure|Animation|Children|Comedy|IMAX
87222,3.97,Kung Fu Panda 2 (2011),Action|Adventure|Animation|Children|Comedy|IMAX

userId,57,title,genres
movieId,,,
58879,2.43,Shine a Light (2008),Documentary|Musical|IMAX
1191,1.92,Madonna: Truth or Dare (1991),Documentary|Musical
2677,1.92,Buena Vista Social Club (1999),Documentary|Musical
2859,1.92,Stop Making Sense (1984),Documentary|Musical
3142,1.92,U2: Rattle and Hum (1988),Documentary|Musical
3679,1.92,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,1.92,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,1.92,Monterey Pop (1968),Documentary|Musical
26195,1.92,Sympathy for the Devil (1968),Documentary|Musical
67665,1.92,Anvil! The Story of Anvil (2008),Documentary|Musical

userId,58,title,genres
movieId,,,
81847,4.19,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
595,3.91,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
1907,3.49,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
56152,3.44,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
364,3.41,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
1064,3.35,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
631,3.15,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,3.15,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
48,3.12,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
783,3.12,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance

userId,59,title,genres
movieId,,,
81132,7.09,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,6.57,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
79132,6.36,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
7217,6.15,Dark Passage (1947),Crime|Drama|Film-Noir|Romance|Thriller
27317,6.11,Audition (Ôdishon) (1999),Drama|Horror|Mystery|Romance|Thriller
7235,5.95,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
60684,5.86,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
43932,5.76,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
4719,5.59,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
4848,5.58,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller

userId,60,title,genres
movieId,,,
364,6.68,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
48,6.53,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
783,6.53,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
595,6.52,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
81847,6.28,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
3159,6.24,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
1907,6.01,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
1029,5.75,Dumbo (1941),Animation|Children|Drama|Musical
2081,5.56,"Little Mermaid, The (1989)",Animation|Children|Comedy|Musical|Romance
26999,5.52,"Lion King II: Simba's Pride, The (1998)",Adventure|Animation|Children|Musical|Romance

userId,61,title,genres
movieId,,,
81132,4.57,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
43932,4.31,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
22,4.00,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
49530,3.97,Blood Diamond (2006),Action|Adventure|Crime|Drama|Thriller|War
198,3.95,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
72731,3.93,"Lovely Bones, The (2009)",Crime|Drama|Fantasy|Horror|Thriller
26887,3.89,"Langoliers, The (1995)",Drama|Fantasy|Horror|Mystery|Sci-Fi|Thriller
52712,3.84,"Invisible, The (2007)",Crime|Drama|Fantasy|Mystery|Thriller
4210,3.83,Manhunter (1986),Action|Crime|Drama|Horror|Thriller
2058,3.74,"Negotiator, The (1998)",Action|Crime|Drama|Mystery|Thriller

userId,62,title,genres
movieId,,,
81132,7.42,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26701,5.47,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
79132,4.60,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
4848,4.32,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller
130482,4.32,Too Late for Tears (1949),Crime|Drama|Film-Noir|Mystery|Thriller
43932,4.13,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
32587,4.09,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller
1464,4.07,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
7217,4.02,Dark Passage (1947),Crime|Drama|Film-Noir|Romance|Thriller
7235,3.96,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller

userId,63,title,genres
movieId,,,
58879,2.69,Shine a Light (2008),Documentary|Musical|IMAX
6125,2.58,"Secret Policeman's Other Ball, The (1982)",Comedy|Documentary|Musical
1191,2.39,Madonna: Truth or Dare (1991),Documentary|Musical
2677,2.39,Buena Vista Social Club (1999),Documentary|Musical
2859,2.39,Stop Making Sense (1984),Documentary|Musical
3142,2.39,U2: Rattle and Hum (1988),Documentary|Musical
3679,2.39,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,2.39,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,2.39,Monterey Pop (1968),Documentary|Musical
26195,2.39,Sympathy for the Devil (1968),Documentary|Musical

userId,64,title,genres
movieId,,,
81132,3.14,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
61236,2.50,Waltz with Bashir (Vals im Bashir) (2008),Animation|Documentary|Drama|War
58879,2.49,Shine a Light (2008),Documentary|Musical|IMAX
82857,2.34,Sweetgrass (2009),Adventure|Documentary|Western
114066,2.20,"20,000 Days on Earth (2014)",Documentary|Drama|Musical
2142,2.18,"American Tail: Fievel Goes West, An (1991)",Adventure|Animation|Children|Musical|Western
49265,2.15,Shooting Dogs (a.k.a. Beyond the Gates) (2005),Documentary|Drama|War
81847,2.08,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
364,2.07,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
26003,2.06,Night and Fog (Nuit et brouillard) (1955),Crime|Documentary|War

userId,65,title,genres
movieId,,,
79132,4.92,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
198,4.08,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
60684,3.98,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
86644,3.81,"Fast Five (Fast and the Furious 5, The) (2011)",Action|Crime|Drama|Thriller|IMAX
519,3.59,RoboCop 3 (1993),Action|Crime|Drama|Sci-Fi|Thriller
2985,3.59,RoboCop (1987),Action|Crime|Drama|Sci-Fi|Thriller
2058,3.45,"Negotiator, The (1998)",Action|Crime|Drama|Mystery|Thriller
5388,3.45,Insomnia (2002),Action|Crime|Drama|Mystery|Thriller
7445,3.45,Man on Fire (2004),Action|Crime|Drama|Mystery|Thriller
8860,3.45,Cellular (2004),Action|Crime|Drama|Mystery|Thriller

userId,66,title,genres
movieId,,,
81132,6.64,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
81847,5.01,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
26701,4.93,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
1464,4.53,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
595,4.52,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
1907,4.37,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
364,4.27,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
56152,4.17,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
32031,4.01,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
7217,3.99,Dark Passage (1947),Crime|Drama|Film-Noir|Romance|Thriller

userId,67,title,genres
movieId,,,
4719,6.30,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
79132,5.88,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
20,5.72,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
145,5.72,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller
1432,5.72,Metro (1997),Action|Comedy|Crime|Drama|Thriller
5027,5.72,Another 48 Hrs. (1990),Action|Comedy|Crime|Drama|Thriller
5628,5.72,Wasabi (2001),Action|Comedy|Crime|Drama|Thriller
7007,5.72,"Last Boy Scout, The (1991)",Action|Comedy|Crime|Drama|Thriller
86644,5.37,"Fast Five (Fast and the Furious 5, The) (2011)",Action|Crime|Drama|Thriller|IMAX
519,5.34,RoboCop 3 (1993),Action|Crime|Drama|Sci-Fi|Thriller

userId    68                                 title                      genres
movieId
58879   1.99                  Shine a Light (2008)    Documentary|Musical|IMAX
1797    1.84                        Everest (1998)            Documentary|IMAX
4453    1.84      Michael Jordan to the Max (2000)            Documentary|IMAX
4458    1.84          Africa: The Serengeti (1994)            Documentary|IMAX
4459    1.84     Alaska: Spirit of the Wild (1997)            Documentary|IMAX
4864    1.84                       Titanica (1992)            Documentary|IMAX
6289    1.84            Ghosts of the Abyss (2003)            Documentary|IMAX
4445    1.46  T-Rex: Back to the Cretaceous (1998)  Adventure|Documentary|IMAX
1191    1.41         Madonna: Truth or Dare (1991)         Documentary|Musical
2677    1.41        Buena Vista Social Club (1999)         Documentary|Musical

userId,69,title,genres
movieId,,,
81132,12.49,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
91542,8.36,Sherlock Holmes: A Game of Shadows (2011),Action|Adventure|Comedy|Crime|Mystery|Thriller
6902,8.32,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
31921,7.96,"Seven-Per-Cent Solution, The (1976)",Adventure|Comedy|Crime|Drama|Mystery|Thriller
198,7.86,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
43932,7.81,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
1464,7.58,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
31367,7.46,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
7235,7.29,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
26701,7.28,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...

userId,70,title,genres
movieId,,,
2987,5.45,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
970,5.44,Beat the Devil (1953),Adventure|Comedy|Crime|Drama|Romance
148775,5.43,Wizards of Waverly Place: The Movie (2009),Adventure|Children|Comedy|Drama|Fantasy|Sci-Fi
32031,5.19,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
108540,5.13,Ernest & Célestine (Ernest et Célestine) (2012),Adventure|Animation|Children|Comedy|Drama|Romance
27790,5.12,Millions (2004),Children|Comedy|Crime|Drama|Fantasy
81132,5.00,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
26849,4.92,"Stand, The (1994)",Adventure|Drama|Fantasy|Horror|Sci-Fi
134853,4.91,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
2090,4.83,"Rescuers, The (1977)",Adventure|Animation|Children|Crime|Drama

userId,71,title,genres
movieId,,,
2005,4.00,"Goonies, The (1985)",Action|Adventure|Children|Comedy|Fantasy
3440,4.00,Teenage Mutant Ninja Turtles III (1993),Action|Adventure|Children|Comedy|Fantasy
79139,4.00,"Sorcerer's Apprentice, The (2010)",Action|Adventure|Children|Comedy|Fantasy
258,3.84,"Kid in King Arthur's Court, A (1995)",Adventure|Children|Comedy|Fantasy|Romance
546,3.77,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
6316,3.70,"Wiz, The (1978)",Adventure|Children|Comedy|Fantasy|Musical
7247,3.70,Chitty Chitty Bang Bang (1968),Adventure|Children|Comedy|Fantasy|Musical
1848,3.58,"Borrowers, The (1997)",Adventure|Children|Comedy|Fantasy
27706,3.58,Lemony Snicket's A Series of Unfortunate Event...,Adventure|Children|Comedy|Fantasy
31698,3.58,Son of the Mask (2005),Adventure|Children|Comedy|Fantasy

userId,72,title,genres
movieId,,,
79132,7.53,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
81132,7.21,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
36509,6.92,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
198,6.73,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
60684,6.71,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
1909,6.12,"X-Files: Fight the Future, The (1998)",Action|Crime|Mystery|Sci-Fi|Thriller
5445,6.12,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
30894,5.99,White Noise (2005),Drama|Horror|Mystery|Sci-Fi|Thriller
174053,5.99,Black Mirror: White Christmas (2014),Drama|Horror|Mystery|Sci-Fi|Thriller
67197,5.92,Knowing (2009),Action|Drama|Mystery|Sci-Fi|Thriller

userId,73,title,genres
movieId,,,
83613,3.89,Cowboys & Aliens (2011),Action|Sci-Fi|Thriller|Western|IMAX
81132,3.75,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
79132,3.67,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
27683,3.58,Tremors 4: The Legend Begins (2004),Action|Comedy|Horror|Sci-Fi|Thriller|Western
36509,3.55,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
43932,3.41,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
60684,3.34,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
31804,3.31,Night Watch (Nochnoy dozor) (2004),Action|Fantasy|Horror|Mystery|Sci-Fi|Thriller
87520,3.29,Transformers: Dark of the Moon (2011),Action|Adventure|Sci-Fi|War|IMAX
87232,3.28,X-Men: First Class (2011),Action|Adventure|Sci-Fi|Thriller|War

userId,74,title,genres
movieId,,,
81132,8.43,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
4956,5.39,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
6902,5.38,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
97757,5.35,'Hellboy': The Seeds of Creation (2004),Action|Adventure|Comedy|Documentary|Fantasy
1464,5.34,Lost Highway (1997),Crime|Drama|Fantasy|Film-Noir|Mystery|Romance
71999,5.31,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
117646,5.14,Dragonheart 2: A New Beginning (2000),Action|Adventure|Comedy|Drama|Fantasy|Thriller
70687,5.08,Paper Heart (2009),Comedy|Documentary|Drama|Romance
31367,5.05,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
26236,5.01,"White Sun of the Desert, The (Beloe solntse pu...",Action|Adventure|Comedy|Drama|Romance|War

userId,75,title,genres
movieId,,,
3159,2.83,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
2142,2.56,"American Tail: Fievel Goes West, An (1991)",Adventure|Animation|Children|Musical|Western
81847,2.31,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
4709,2.22,Paint Your Wagon (1969),Comedy|Musical|Western
5375,2.22,"Harvey Girls, The (1946)",Comedy|Musical|Western
37211,2.22,Go West (1940),Comedy|Musical|Western
91386,2.17,Happy Feet Two (2011),Animation|Children|Comedy|IMAX
103335,2.17,Despicable Me 2 (2013),Animation|Children|Comedy|IMAX
2078,2.13,"Jungle Book, The (1967)",Animation|Children|Comedy|Musical
2102,2.13,Steamboat Willie (1928),Animation|Children|Comedy|Musical

userId    76                                 title              genres
movieId
5735    1.76                 Faces of Death (1978)  Documentary|Horror
5736    1.76               Faces of Death 3 (1985)  Documentary|Horror
1797    1.21                        Everest (1998)    Documentary|IMAX
4453    1.21      Michael Jordan to the Max (2000)    Documentary|IMAX
4458    1.21          Africa: The Serengeti (1994)    Documentary|IMAX
4459    1.21     Alaska: Spirit of the Wild (1997)    Documentary|IMAX
4864    1.21                       Titanica (1992)    Documentary|IMAX
6289    1.21            Ghosts of the Abyss (2003)    Documentary|IMAX
77      1.12                      Nico Icon (1995)         Documentary
99      1.12  Heidi Fleiss: Hollywood Madam (1995)         Documentary

userId,77,title,genres
movieId,,,
6350,7.94,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,Action|Adventure|Animation|Children|Fantasy|Sc...
26590,7.94,G.I. Joe: The Movie (1987),Action|Adventure|Animation|Children|Fantasy|Sc...
27155,7.94,"Batman/Superman Movie, The (1998)",Action|Adventure|Animation|Children|Fantasy|Sc...
85261,7.79,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
32031,7.13,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
546,6.99,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
3745,6.95,Titan A.E. (2000),Action|Adventure|Animation|Children|Sci-Fi
40339,6.90,Chicken Little (2005),Action|Adventure|Animation|Children|Comedy|Sci-Fi
52287,6.90,Meet the Robinsons (2007),Action|Adventure|Animation|Children|Comedy|Sci-Fi
157865,6.90,Ratchet & Clank (2016),Action|Adventure|Animation|Children|Comedy|Sci-Fi

userId,78,title,genres
movieId,,,
71264,1.64,Cloudy with a Chance of Meatballs (2009),Animation|Children|Fantasy|IMAX
107953,0.99,Dragon Ball Z: Battle of Gods (2013),Action|Animation|Fantasy|IMAX
2876,0.99,Thumbelina (1994),Animation|Children|Fantasy
5538,0.99,"Care Bears Movie, The (1985)",Animation|Children|Fantasy
6093,0.99,"Last Unicorn, The (1982)",Animation|Children|Fantasy
83132,0.99,"Secret World of Arrietty, The (Kari-gurashi no...",Animation|Children|Fantasy
117444,0.99,Song of the Sea (2014),Animation|Children|Fantasy
175397,0.99,"In the blue sea, in the white foam. (1984)",Animation|Children|Fantasy
91386,0.94,Happy Feet Two (2011),Animation|Children|Comedy|IMAX
103335,0.94,Despicable Me 2 (2013),Animation|Children|Comedy|IMAX

userId,79,title,genres
movieId,,,
81132,7.12,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
32587,5.94,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller
91542,5.62,Sherlock Holmes: A Game of Shadows (2011),Action|Adventure|Comedy|Crime|Mystery|Thriller
36509,5.41,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller
198,5.40,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
31367,5.39,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
26701,5.33,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
7235,5.26,Ichi the Killer (Koroshiya 1) (2001),Action|Comedy|Crime|Drama|Horror|Thriller
52281,5.26,Grindhouse (2007),Action|Crime|Horror|Sci-Fi|Thriller
43932,5.25,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...

userId,80,title,genres
movieId,,,
26701,6.99,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
79132,6.16,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
71999,6.09,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
81132,6.07,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
43932,6.01,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
60684,5.42,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
198,5.35,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller
459,5.33,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
4719,5.24,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
36509,5.24,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller

userId    81                                  title          genres
movieId
6303    0.64           Andromeda Strain, The (1971)  Mystery|Sci-Fi
156675  0.64                       Project X (1968)  Mystery|Sci-Fi
2311    0.35  2010: The Year We Make Contact (1984)          Sci-Fi
2526    0.35                          Meteor (1979)          Sci-Fi
2661    0.35        It Came from Outer Space (1953)          Sci-Fi
2665    0.35    Earth vs. the Flying Saucers (1956)          Sci-Fi
2698    0.35                         Zone 39 (1997)          Sci-Fi
3354    0.35                 Mission to Mars (2000)          Sci-Fi
4198    0.35         Battle Beyond the Stars (1980)          Sci-Fi
4813    0.35             When Worlds Collide (1951)          Sci-Fi

userId,82,title,genres
movieId,,,
58879,1.33,Shine a Light (2008),Documentary|Musical|IMAX
1191,1.10,Madonna: Truth or Dare (1991),Documentary|Musical
2677,1.10,Buena Vista Social Club (1999),Documentary|Musical
2859,1.10,Stop Making Sense (1984),Documentary|Musical
3142,1.10,U2: Rattle and Hum (1988),Documentary|Musical
3679,1.10,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,1.10,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,1.10,Monterey Pop (1968),Documentary|Musical
26195,1.10,Sympathy for the Devil (1968),Documentary|Musical
67665,1.10,Anvil! The Story of Anvil (2008),Documentary|Musical

userId,83,title,genres
movieId,,,
58879,1.60,Shine a Light (2008),Documentary|Musical|IMAX
3159,1.16,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
1191,1.10,Madonna: Truth or Dare (1991),Documentary|Musical
2677,1.10,Buena Vista Social Club (1999),Documentary|Musical
2859,1.10,Stop Making Sense (1984),Documentary|Musical
3142,1.10,U2: Rattle and Hum (1988),Documentary|Musical
3679,1.10,"Decline of Western Civilization, The (1981)",Documentary|Musical
5820,1.10,Standing in the Shadows of Motown (2002),Documentary|Musical
7979,1.10,Monterey Pop (1968),Documentary|Musical
26195,1.10,Sympathy for the Devil (1968),Documentary|Musical

userId,84,title,genres
movieId,,,
58879,3.03,Shine a Light (2008),Documentary|Musical|IMAX
1797,2.46,Everest (1998),Documentary|IMAX
4453,2.46,Michael Jordan to the Max (2000),Documentary|IMAX
4458,2.46,Africa: The Serengeti (1994),Documentary|IMAX
4459,2.46,Alaska: Spirit of the Wild (1997),Documentary|IMAX
4864,2.46,Titanica (1992),Documentary|IMAX
6289,2.46,Ghosts of the Abyss (2003),Documentary|IMAX
4445,2.27,T-Rex: Back to the Cretaceous (1998),Adventure|Documentary|IMAX
99149,2.06,"Misérables, Les (2012)",Drama|Musical|Romance|IMAX
81132,2.04,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...

userId    85                             title                          genres
movieId
953     2.97      It's a Wonderful Life (1946)  Children|Drama|Fantasy|Romance
130073  2.97                 Cinderella (2015)  Children|Drama|Fantasy|Romance
314     2.54  Secret of Roan Inish, The (1994)  Children|Drama|Fantasy|Mystery
885     2.52                      Bogus (1996)          Children|Drama|Fantasy
1099    2.52         Christmas Carol, A (1938)          Children|Drama|Fantasy
1302    2.52            Field of Dreams (1989)          Children|Drama|Fantasy
1654    2.52    FairyTale: A True Story (1997)          Children|Drama|Fantasy
2400    2.52                    Prancer (1989)          Children|Drama|Fantasy
1583    2.24             Simple Wish, A (1997)                Children|Fantasy
7045    2.24               Witches, The (1990)                Children|Fantasy

userId,86,title,genres
movieId,,,
81847,4.39,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
32031,4.37,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
85261,4.31,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
56152,4.30,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
2987,4.20,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
81132,4.17,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
84944,4.11,Rango (2011),Action|Adventure|Animation|Children|Comedy|Wes...
1907,4.07,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
52462,3.98,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
47124,3.92,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX

userId,87,title,genres
movieId,,,
56152,6.86,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
4306,6.16,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
84637,6.16,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Ro...
92348,6.16,Puss in Boots (Nagagutsu o haita neko) (1969),Adventure|Animation|Children|Comedy|Fantasy|Ro...
631,6.01,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,6.01,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...
106696,5.94,Frozen (2013),Adventure|Animation|Comedy|Fantasy|Musical|Rom...
258,5.62,"Kid in King Arthur's Court, A (1995)",Adventure|Children|Comedy|Fantasy|Romance
1907,5.58,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
134853,5.56,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy

userId,88,title,genres
movieId,,,
81132,5.85,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
79132,5.80,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
49530,5.68,Blood Diamond (2006),Action|Adventure|Crime|Drama|Thriller|War
88125,5.47,Harry Potter and the Deathly Hallows: Part 2 (...,Action|Adventure|Drama|Fantasy|Mystery|IMAX
43932,5.28,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
6016,5.19,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
53519,5.13,Death Proof (2007),Action|Adventure|Crime|Horror|Thriller
86644,5.02,"Fast Five (Fast and the Furious 5, The) (2011)",Action|Crime|Drama|Thriller|IMAX
91535,5.01,"Bourne Legacy, The (2012)",Action|Adventure|Drama|Thriller|IMAX
86332,4.99,Thor (2011),Action|Adventure|Drama|Fantasy|IMAX

userId    89                              title                         genres
movieId
82857   2.55                  Sweetgrass (2009)  Adventure|Documentary|Western
58879   2.52               Shine a Light (2008)       Documentary|Musical|IMAX
5735    2.50              Faces of Death (1978)             Documentary|Horror
5736    2.50            Faces of Death 3 (1985)             Documentary|Horror
1797    2.37                     Everest (1998)               Documentary|IMAX
4453    2.37   Michael Jordan to the Max (2000)               Documentary|IMAX
4458    2.37       Africa: The Serengeti (1994)               Documentary|IMAX
4459    2.37  Alaska: Spirit of the Wild (1997)               Documentary|IMAX
4864    2.37                    Titanica (1992)               Documentary|IMAX
6289    2.37         Ghosts of the Abyss (2003)               Documentary|IMAX

userId,90,title,genres
movieId,,,
148775,9.19,Wizards of Waverly Place: The Movie (2009),Adventure|Children|Comedy|Drama|Fantasy|Sci-Fi
546,9.10,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
6316,8.81,"Wiz, The (1978)",Adventure|Children|Comedy|Fantasy|Musical
7247,8.81,Chitty Chitty Bang Bang (1968),Adventure|Children|Comedy|Fantasy|Musical
258,8.73,"Kid in King Arthur's Court, A (1995)",Adventure|Children|Comedy|Fantasy|Romance
2005,8.55,"Goonies, The (1985)",Action|Adventure|Children|Comedy|Fantasy
3440,8.55,Teenage Mutant Ninja Turtles III (1993),Action|Adventure|Children|Comedy|Fantasy
79139,8.55,"Sorcerer's Apprentice, The (2010)",Action|Adventure|Children|Comedy|Fantasy
2054,8.47,"Honey, I Shrunk the Kids (1989)",Adventure|Children|Comedy|Fantasy|Sci-Fi
2414,8.42,Young Sherlock Holmes (1985),Action|Adventure|Children|Fantasy|Mystery|Thri...

userId,91,title,genres
movieId,,,
58879,1.83,Shine a Light (2008),Documentary|Musical|IMAX
5735,1.68,Faces of Death (1978),Documentary|Horror
5736,1.68,Faces of Death 3 (1985),Documentary|Horror
3706,1.65,Angel Heart (1987),Film-Noir|Horror|Mystery|Thriller
44849,1.65,Renaissance (2006),Action|Animation|Film-Noir|Sci-Fi|Thriller
1797,1.65,Everest (1998),Documentary|IMAX
4453,1.65,Michael Jordan to the Max (2000),Documentary|IMAX
4458,1.65,Africa: The Serengeti (1994),Documentary|IMAX
4459,1.65,Alaska: Spirit of the Wild (1997),Documentary|IMAX
4864,1.65,Titanica (1992),Documentary|IMAX

userId,92,title,genres
movieId,,,
56152,7.58,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
81847,7.52,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
1907,6.92,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
8360,6.84,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
106696,6.79,Frozen (2013),Adventure|Animation|Comedy|Fantasy|Musical|Rom...
1064,6.59,Aladdin and the King of Thieves (1996),Animation|Children|Comedy|Fantasy|Musical|Romance
6316,6.29,"Wiz, The (1978)",Adventure|Children|Comedy|Fantasy|Musical
7247,6.29,Chitty Chitty Bang Bang (1968),Adventure|Children|Comedy|Fantasy|Musical
631,6.12,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...
2092,6.12,"Return of Jafar, The (1994)",Adventure|Animation|Children|Fantasy|Musical|R...

userId,93,title,genres
movieId,,,
81132,7.34,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...
79132,7.11,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
71999,6.97,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
43932,6.89,Pulse (2006),Action|Drama|Fantasy|Horror|Mystery|Sci-Fi|Thr...
4719,6.72,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
85261,6.68,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
6902,6.48,Interstate 60 (2002),Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|...
60684,6.43,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
32031,6.29,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
52462,6.27,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...

userId,94,title,genres
movieId,,,
3159,2.38,Fantasia 2000 (1999),Animation|Children|Musical|IMAX
2142,1.87,"American Tail: Fievel Goes West, An (1991)",Adventure|Animation|Children|Musical|Western
1023,1.73,Winnie the Pooh and the Blustery Day (1968),Animation|Children|Musical
1024,1.73,"Three Caballeros, The (1945)",Animation|Children|Musical
1489,1.73,Cats Don't Dance (1997),Animation|Children|Musical
2096,1.73,Sleeping Beauty (1959),Animation|Children|Musical
5629,1.73,Jonah: A VeggieTales Movie (2002),Animation|Children|Musical
31193,1.73,"Many Adventures of Winnie the Pooh, The (1977)",Animation|Children|Musical
60803,1.73,"Little Drummer Boy, The (1968)",Animation|Children|Musical
91488,1.73,"Snowman, The (1982)",Animation|Children|Musical

userId,95,title,genres
movieId,,,
26701,6.05,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
71999,4.99,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
85261,4.83,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
79132,4.75,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
4719,4.66,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
1907,4.44,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
44849,4.42,Renaissance (2006),Action|Animation|Film-Noir|Sci-Fi|Thriller
52462,4.37,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
60684,4.34,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX
81132,4.30,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...

userId,96,title,genres
movieId,,,
32031,8.08,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
85261,8.06,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
26701,8.03,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
2987,7.98,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
81847,7.89,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
47124,7.75,"Ant Bully, The (2006)",Adventure|Animation|Children|Comedy|Fantasy|IMAX
78499,7.75,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX
78637,7.75,Shrek Forever After (a.k.a. Shrek: The Final C...,Adventure|Animation|Children|Comedy|Fantasy|IMAX
62999,7.73,Madagascar: Escape 2 Africa (2008),Action|Adventure|Animation|Children|Comedy|IMAX
87222,7.73,Kung Fu Panda 2 (2011),Action|Adventure|Animation|Children|Comedy|IMAX

userId,97,title,genres
movieId,,,
71999,8.81,Aelita: The Queen of Mars (Aelita) (1924),Action|Adventure|Drama|Fantasy|Romance|Sci-Fi|...
4719,7.91,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
31367,7.89,"Chase, The (1994)",Action|Adventure|Comedy|Crime|Romance|Thriller
2367,7.41,King Kong (1976),Adventure|Fantasy|Romance|Sci-Fi|Thriller
459,7.40,"Getaway, The (1994)",Action|Adventure|Crime|Drama|Romance|Thriller
4956,7.26,"Stunt Man, The (1980)",Action|Adventure|Comedy|Drama|Romance|Thriller
2617,7.19,"Mummy, The (1999)",Action|Adventure|Comedy|Fantasy|Horror|Thriller
72165,7.19,Cirque du Freak: The Vampire's Assistant (2009),Action|Adventure|Comedy|Fantasy|Horror|Thriller
72407,7.12,"Twilight Saga: New Moon, The (2009)",Drama|Fantasy|Horror|Romance|Thriller
380,7.07,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller

userId,98,title,genres
movieId,,,
27473,3.20,American Psycho II: All American Girl (2002),Comedy|Crime|Horror|Mystery|Thriller
30745,2.99,Gozu (Gokudô kyôfu dai-gekijô: Gozu) (2003),Comedy|Crime|Drama|Horror|Mystery
7835,2.97,Song of the Thin Man (1947),Comedy|Crime|Drama|Musical|Mystery|Romance
2987,2.89,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
81847,2.71,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
1407,2.67,Scream (1996),Comedy|Horror|Mystery|Thriller
1717,2.67,Scream 2 (1997),Comedy|Horror|Mystery|Thriller
3273,2.67,Scream 3 (2000),Comedy|Horror|Mystery|Thriller
27584,2.67,Dead End (2003),Comedy|Horror|Mystery|Thriller
86295,2.67,Scream 4 (2011),Comedy|Horror|Mystery|Thriller

userId,99,title,genres
movieId,,,
1907,7.10,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
364,6.62,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
8360,6.06,Shrek 2 (2004),Adventure|Animation|Children|Comedy|Musical|Ro...
8481,5.91,Northwest Passage (1940),Action|Adventure|Drama|Romance|Thriller|Western
108540,5.82,Ernest & Célestine (Ernest et Célestine) (2012),Adventure|Animation|Children|Comedy|Drama|Romance
26999,5.74,"Lion King II: Simba's Pride, The (1998)",Adventure|Animation|Children|Musical|Romance
48,5.68,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
783,5.68,"Hunchback of Notre Dame, The (1996)",Animation|Children|Drama|Musical|Romance
4719,5.44,Osmosis Jones (2001),Action|Animation|Comedy|Crime|Drama|Romance|Th...
69644,5.42,Ice Age: Dawn of the Dinosaurs (2009),Action|Adventure|Animation|Children|Comedy|Rom...

userId,100,title,genres
movieId,,,
81847,3.57,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...
1907,3.10,Mulan (1998),Adventure|Animation|Children|Comedy|Drama|Musi...
595,3.09,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
56152,3.08,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
84944,3.00,Rango (2011),Action|Adventure|Animation|Children|Comedy|Wes...
85261,2.98,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
103384,2.97,"Lone Ranger, The (2013)",Action|Adventure|Western|IMAX
62999,2.95,Madagascar: Escape 2 Africa (2008),Action|Adventure|Animation|Children|Comedy|IMAX
87222,2.95,Kung Fu Panda 2 (2011),Action|Adventure|Animation|Children|Comedy|IMAX
364,2.92,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX

In [12]:
# Evaluation

In [13]:
# df_predictions = user_item_matrix.copy()
# df_actual = df_user.copy()

# display(df_predictions)
# display(df_actual)

# df_actual_pivot = df_actual.pivot(index='movieId', columns='userId', values='rating')

# # Initialize a list to store scaled columns
# scaled_columns = []

# # Iterate over each user column in df_predictions
# for col in df_predictions.columns:
#     # Extract the column (user's predictions)
#     user_predictions = df_predictions[col].values.reshape(-1, 1)

#     # Find the min and max ratings for the corresponding user in df_actual_pivot
#     min_rating = df_actual_pivot[col].min()
#     max_rating = df_actual_pivot[col].max()

#     # Check if min and max ratings are the same
#     if min_rating == max_rating:
#         # If min and max are the same, either skip scaling or set a default range
#         scaled_columns.append(pd.Series(df_predictions[col], name=col))
#     else:
#         # Scale the predictions based on the user's actual min and max ratings
#         scaler = MinMaxScaler(feature_range=(min_rating, max_rating))
#         user_scaled_ratings = scaler.fit_transform(user_predictions)
#         scaled_columns.append(pd.Series(user_scaled_ratings.flatten(), name=col))

# # Concatenate all scaled columns
# df_predictions_scaled = pd.concat(scaled_columns, axis=1)

# # Display the scaled predictions DataFrame
# display(df_predictions_scaled)
# display(df_actual_pivot)

In [14]:
# # Convert df_predictions_scaled to long format
# df_predictions_long = df_predictions_scaled.reset_index().melt(id_vars='index', value_vars=df_predictions_scaled.columns)
# df_predictions_long.rename(columns={'index': 'movieId', 'variable': 'userId', 'value': 'predicted_rating'}, inplace=True)

# # Convert df_actual_pivot to long format
# df_actual_long = df_actual_pivot.reset_index().melt(id_vars='movieId', value_vars=df_actual_pivot.columns, var_name='userId', value_name='actual_rating')

# # Merge the two DataFrames on 'movieId' and 'userId'
# df_merged = pd.merge(df_actual_long, df_predictions_long, on=['movieId', 'userId'])

# # Drop NaN values (as we can't compute errors where we don't have actual ratings)
# df_merged.dropna(inplace=True)

# # Calculate MAE and RMSE
# mae = mean_absolute_error(df_merged['actual_rating'], df_merged['predicted_rating'])
# rmse = np.sqrt(mean_squared_error(df_merged['actual_rating'], df_merged['predicted_rating']))

# print(f'Mean Absolute Error: {mae}')
# print(f'Root Mean Square Error: {rmse}')

In [15]:
df_predictions = user_item_matrix.copy()
df_actual = df_user.copy()

display(df_predictions)
display(df_actual)

df_actual_pivot = df_actual.pivot(index='movieId', columns='userId', values='rating')

# Scale to min and max of actual
min_value = df_actual_pivot.min().min()
max_value = df_actual_pivot.max().max()
print(f"Minimum value in the Actual DataFrame: {min_value}")
print(f"Maximum value in the Actual DataFrame: {max_value}")

# Scale to min and max of actual
prediction_min_value = df_predictions.min().min()
prediction_max_value = df_predictions.max().max()
print(f"Minimum value in the Prediction DataFrame: {prediction_min_value}")
print(f"Maximum value in the Prediction DataFrame: {prediction_max_value}")

scaler = MinMaxScaler(feature_range=(min_value, max_value))
scaled_ratings = scaler.fit_transform(df_predictions.T).T
df_predictions_scaled = pd.DataFrame(scaled_ratings, index=df_predictions.index, columns=df_predictions.columns)

# Scale to min and max of actual
prediction_min_value = df_predictions_scaled.min().min()
prediction_max_value = df_predictions_scaled.max().max()
print(f"Minimum value in the Prediction DataFrame: {prediction_min_value}")
print(f"Maximum value in the Prediction DataFrame: {prediction_max_value}")

# scaler = MinMaxScaler(feature_range=(0, 5))
# scaled_ratings = scaler.fit_transform(df_predictions.T).T
# df_predictions_scaled = pd.DataFrame(scaled_ratings, index=df_predictions.index, columns=df_predictions.columns)

display(df_predictions_scaled)
display(df_actual_pivot)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.36,-6.00,-9.11,0.45,2.96,0.59,-1.25,2.64,2.06,-0.42,...,5.29,-0.10,-1.59,0.53,-1.72,-0.02,-0.01,-3.23,-3.01,0.70
2,2.52,-4.65,-3.51,0.27,1.86,0.64,-0.76,2.41,1.69,-0.16,...,3.10,0.10,-0.87,0.63,-1.01,-0.13,0.05,-1.74,-1.41,0.25
3,1.87,1.63,-8.21,-0.55,-0.67,-0.50,-1.99,-0.90,-0.64,-0.97,...,2.34,-1.10,-0.80,-1.24,-0.99,-0.02,-0.60,-2.41,-0.35,0.22
4,3.16,2.19,-13.60,-1.13,-0.69,-0.85,-3.20,-0.93,-1.02,-2.06,...,3.45,-2.02,-1.16,-1.81,-2.22,-0.06,-0.24,-3.07,-1.14,0.33
5,1.01,0.52,-4.02,-0.18,0.08,-0.44,-0.65,-0.68,0.01,-0.53,...,1.39,-0.54,-0.52,-0.46,-0.55,-0.13,-0.41,-1.38,0.26,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.61,-3.75,-5.81,-0.15,1.40,0.06,-1.31,0.45,0.82,-0.51,...,4.34,0.39,-1.31,0.06,-1.61,-0.47,0.28,-2.35,-5.31,0.49
193583,2.49,-4.32,-5.80,0.24,2.11,0.02,-0.82,0.82,1.51,-0.39,...,3.15,0.41,-0.70,-0.00,-1.07,0.14,0.06,-1.96,-4.57,0.46
193585,1.29,0.57,-5.39,-0.58,-0.02,-0.35,-1.21,-0.04,-0.37,-1.10,...,1.11,-0.92,-0.36,-0.58,-1.24,-0.04,0.36,-0.67,-0.79,0.12
193587,1.95,-1.29,-1.60,-0.04,0.30,0.43,-0.33,0.53,-0.34,0.15,...,1.98,0.34,-0.82,0.42,-0.71,-0.37,0.56,-0.48,-2.60,0.36
193609,1.01,0.52,-4.02,-0.18,0.08,-0.44,-0.65,-0.68,0.01,-0.53,...,1.39,-0.54,-0.52,-0.46,-0.55,-0.13,-0.41,-1.38,0.26,0.12

        userId  movieId  rating   timestamp
0            1        1    4.00   964982703
1            1        3    4.00   964981247
2            1        6    4.00   964982224
3            1       47    5.00   964983815
4            1       50    5.00   964982931
...        ...      ...     ...         ...
100831     610   166534    4.00  1493848402
100832     610   168248    5.00  1493850091
100833     610   168250    5.00  1494273047
100834     610   168252    5.00  1493846352
100835     610   170875    3.00  1493846415

[100836 rows x 4 columns]

Minimum value in the Actual DataFrame: 0.5
Maximum value in the Actual DataFrame: 5.0
Minimum value in the Prediction DataFrame: -27.958620793526904
Maximum value in the Prediction DataFrame: 17.740354518382937
Minimum value in the Prediction DataFrame: 0.4999999999999998
Maximum value in the Prediction DataFrame: 5.000000000000001

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,2.99,1.26,0.74,2.34,2.76,2.36,2.05,2.71,2.61,2.19,...,3.15,2.25,2.00,2.35,1.98,2.26,2.26,1.72,1.76,2.38
2,3.35,1.44,1.75,2.75,3.18,2.85,2.48,3.32,3.13,2.64,...,3.51,2.70,2.45,2.85,2.41,2.64,2.69,2.22,2.30,2.75
3,3.22,3.17,0.98,2.69,2.66,2.70,2.37,2.61,2.67,2.59,...,3.33,2.56,2.63,2.53,2.59,2.80,2.68,2.27,2.73,2.86
4,3.46,3.29,0.50,2.70,2.78,2.75,2.33,2.73,2.72,2.53,...,3.51,2.54,2.69,2.58,2.51,2.89,2.86,2.36,2.70,2.96
5,2.66,2.50,1.00,2.27,2.36,2.19,2.11,2.10,2.33,2.15,...,2.79,2.15,2.16,2.18,2.15,2.29,2.19,1.87,2.42,2.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,3.18,1.85,1.48,2.50,2.78,2.54,2.29,2.61,2.68,2.44,...,3.32,2.60,2.29,2.54,2.24,2.44,2.58,2.11,1.57,2.62
193583,2.73,1.25,0.93,2.24,2.65,2.19,2.01,2.37,2.52,2.11,...,2.88,2.28,2.04,2.19,1.96,2.22,2.20,1.76,1.19,2.29
193585,3.83,3.47,0.50,2.90,3.18,3.02,2.58,3.17,3.00,2.64,...,3.74,2.73,3.01,2.90,2.57,3.17,3.37,2.86,2.80,3.25
193587,4.03,2.79,2.67,3.27,3.40,3.45,3.16,3.49,3.15,3.34,...,4.04,3.41,2.97,3.44,3.01,3.14,3.50,3.10,2.29,3.42
193609,2.66,2.50,1.00,2.27,2.36,2.19,2.11,2.10,2.33,2.15,...,2.79,2.15,2.16,2.18,2.15,2.29,2.19,1.87,2.42,2.37

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.00,NaN,NaN,NaN,4.00,NaN,4.50,NaN,NaN,NaN,...,4.00,NaN,4.00,3.00,4.00,2.50,4.00,2.50,3.00,5.00
2,NaN,NaN,NaN,NaN,NaN,4.00,NaN,4.00,NaN,NaN,...,NaN,4.00,NaN,5.00,3.50,NaN,NaN,2.00,NaN,NaN
3,4.00,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# df_predictions_scaled_final = df_predictions_scaled.copy()
# df_actual_pivot_final = df_actual_pivot.copy()
# #df_predictions_scaled_final = df_predictions.copy()

# display(df_predictions_scaled_final)
# display(df_actual_pivot_final)


# # Flatten df_actual_pivot_final to long format
# df_actual_long = df_actual_pivot_final.reset_index().melt(id_vars=['movieId'], value_vars=df_actual_pivot_final.columns, var_name='userId', value_name='actual_rating')

# # Flatten df_predictions_scaled_final to long format
# df_predictions_long = df_predictions_scaled_final.reset_index().melt(id_vars=['movieId'], value_vars=df_predictions_scaled_final.columns, var_name='userId', value_name='predicted_rating')

# # Merge the two DataFrames on movieId and userId
# df_merged = pd.merge(df_actual_long, df_predictions_long, on=['userId', 'movieId'])

# # Drop NaN values as we cannot compute errors where we don't have actual ratings
# df_merged.dropna(inplace=True)

# # Calculate MAE
# mae = mean_absolute_error(df_merged['actual_rating'], df_merged['predicted_rating'])

# # Calculate RMSE
# rmse = np.sqrt(mean_squared_error(df_merged['actual_rating'], df_merged['predicted_rating']))

# print(f'Mean Absolute Error: {mae}')
# print(f'Root Mean Square Error: {rmse}')

In [17]:
df_predictions_scaled_final = df_predictions_scaled.copy()
df_actual_pivot_final = df_actual_pivot.copy()

# Match NaN values: Set predictions to NaN where actual ratings are NaN
df_predictions_scaled_final[df_actual_pivot_final.isna()] = np.nan

# Flatten both dataframes to long format
df_actual_long = df_actual_pivot_final.reset_index().melt(id_vars=['movieId'], value_vars=df_actual_pivot_final.columns, var_name='userId', value_name='actual_rating')
df_predictions_long = df_predictions_scaled_final.reset_index().melt(id_vars=['movieId'], value_vars=df_predictions_scaled_final.columns, var_name='userId', value_name='predicted_rating')

# Merge the two DataFrames on movieId and userId
df_merged = pd.merge(df_actual_long, df_predictions_long, on=['userId', 'movieId'])

# Drop rows where either actual rating or predicted rating is NaN
df_merged.dropna(inplace=True)

display(df_merged)

# Calculate MAE and RMSE
mae = mean_absolute_error(df_merged['actual_rating'], df_merged['predicted_rating'])
rmse = np.sqrt(mean_squared_error(df_merged['actual_rating'], df_merged['predicted_rating']))

print(f'Mean Absolute Error: {mae}')
print(f'Root Mean Square Error: {rmse}')

         movieId userId  actual_rating  predicted_rating
0              1      1           4.00              2.99
2              3      1           4.00              3.22
5              6      1           4.00              3.78
43            47      1           5.00              3.03
46            50      1           5.00              3.41
...          ...    ...            ...               ...
5931332   166534    610           4.00              3.51
5931359   168248    610           5.00              3.28
5931360   168250    610           5.00              3.13
5931361   168252    610           5.00              2.67
5931401   170875    610           3.00              3.29

[100836 rows x 4 columns]

Mean Absolute Error: 0.9589697101237847
Root Mean Square Error: 1.158598426187174

In [18]:
# THRESHOLD 2.5 - separating satisfactory from unsatisfactory experiences - takes risks and provides diverse movie recommendations 

df_predictions_scaled_final = df_predictions_scaled.copy()
df_actual_pivot_final = df_actual_pivot.copy()

# Define a threshold for considering a rating as positive
threshold = 2.5

# Binarize actual and predicted ratings
df_actual_binary = (df_actual_pivot_final >= threshold).astype(int)
df_predictions_binary = (df_predictions_scaled_final >= threshold).astype(int)

# Match NaN values in predictions to NaN in actual ratings
# Wherever the actual ratings are NaN, set the corresponding predictions to NaN
df_predictions_binary[df_actual_pivot_final.isna()] = pd.NA

# Flatten the data
df_actual_binary_flat = df_actual_binary.stack(dropna=False)
df_predictions_binary_flat = df_predictions_binary.stack(dropna=False)

# Combine the actual and predicted ratings into a single DataFrame
combined_df = pd.DataFrame({
    'actual': df_actual_binary_flat,
    'predicted': df_predictions_binary_flat
})

# Drop rows where either actual or predicted rating is NaN
combined_df_filtered = combined_df.dropna()

# Calculate Precision, Recall, and F1 Score
precision = precision_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])
recall = recall_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])
f1 = f1_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])

print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")

Precision: 0.914673089413293
Recall: 0.7742031541694822
F1 Score: 0.8385964259352301

In [19]:
# THRESHOLD 3

df_predictions_scaled_final = df_predictions_scaled.copy()
df_actual_pivot_final = df_actual_pivot.copy()

# Define a threshold for considering a rating as positive
threshold = 3

# Binarize actual and predicted ratings
df_actual_binary = (df_actual_pivot_final >= threshold).astype(int)
df_predictions_binary = (df_predictions_scaled_final >= threshold).astype(int)

# Match NaN values in predictions to NaN in actual ratings
# Wherever the actual ratings are NaN, set the corresponding predictions to NaN
df_predictions_binary[df_actual_pivot_final.isna()] = pd.NA

# Flatten the data
df_actual_binary_flat = df_actual_binary.stack(dropna=False)
df_predictions_binary_flat = df_predictions_binary.stack(dropna=False)

# Combine the actual and predicted ratings into a single DataFrame
combined_df = pd.DataFrame({
    'actual': df_actual_binary_flat,
    'predicted': df_predictions_binary_flat
})

# Drop rows where either actual or predicted rating is NaN
combined_df_filtered = combined_df.dropna()

# Calculate Precision, Recall, and F1 Score
precision = precision_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])
recall = recall_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])
f1 = f1_score(combined_df_filtered['actual'], combined_df_filtered['predicted'])

print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")

Precision: 0.9123413790583822
Recall: 0.45812898254711787
F1 Score: 0.6099658036150464